//主色
$primaryColorGreen: #11a729;
$primaryColorYellow: #fed001;

//輔色
$secColorOrange: #ff6100;
$secColorblue: #008fc8;

//文字顏色
$mainTextColor: #3f3f3f;

//輸入框顏色
$inputColor: #f3f3f3;
$inputTextColor: #cccccc;
$inputHintColor: #a3a3a3;

//背景色
$bgColorWhite: #ffffff;
$bgColorLightgray: #f5efeb;
$bgColorSecGray: #dcdcdc;
