footer{
    background-color: #4F3029;
    position: relative;

    .footer_deco{
        display: flex;
        .grasses_1 img{
            position: absolute;
            transform: translateY(-100%);
            left: 3.5vw;
            width: 9vw;
            vertical-align: bottom;
            @media (max-width:768px) {
                left: 3.5vw;
                width: 15vw;
            }
        }
        .grasses_9 img{
            position: absolute;
            transform: translateY(-100%);
            left: 14.5vw;
            width: 4vw;
            vertical-align: bottom;
            @media (max-width:768px) {
                left: 20.5vw;
                width: 8vw;
            }
        }
        .grasses_5 img{
            position: absolute;
            transform: translateY(-100%);
            right: 3.5vw;
            width: 11vw;
            vertical-align: bottom;
            @media (max-width:768px) {
                right: 3.5vw;
                width: 18vw;
            }
        }
        
    }

    .footer_first{
        width: 74%;
        margin: auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 0 2vw 0;
        @media (max-width:768px) {
            flex-direction: column;
            align-items: start;
            width: 90%;
        }
        .footer_front{
            width: 20%;
            @media (max-width:768px) {
                width: 35%;
            }

            .footer_logo {
                @media (max-width:768px) {
                    order: 1;
                }
                img{
                    width: 80%;
                    vertical-align: bottom;
                    @media (max-width:768px) {
                        width: 100%;
                    }
                }
            }

            .footer_media{
                width: 80%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin-top: 1vw;
                @media (max-width:768px) {
                    width: 100%;
                    align-items: center;
                    // gap: 10px;
                    margin-top: 3vw;
                }
                img{
                    width: 78%;
                    vertical-align: bottom;
                    @media (max-width:768px) {
                        width: 70%;
                    }
                }
            }
        }

        .footer_info{
            width: 60%;
            color: $bgColorWhite;
            @media (max-width:768px) {
                width: 100%;
                order: 3;
                margin-top: 10px;
            }
            a{
                color: $bgColorWhite;
                text-decoration: none;
            }

            .pcInnerText{
                line-height: 15px;
            }
            // .footer_item{
            //     @media (max-width:580px) {
            //         font-size: 14px;
            //     }
            //     @media (max-width:414px) {
            //         font-size: 12px;
            //     }
            // }
        }

        .footer_tourists{
            color: $bgColorWhite;
            @media (max-width:768px) {
                margin-top: 10px;
                order: 2;
            }
            // @media (max-width:580px) {
            //     font-size: 14px;
            // }
            // @media (max-width:414px) {
            //     font-size: 12px;
            // }
        }
    }

    .footer_line{
        width: 74%;
        height: 1px;
        margin: auto;
        background-color: $bgColorWhite;
        @media (max-width:768px) {
            width: 90%;
            margin-top: 3vw;
        }
    }

    .footer_bottom{
        width: 74%;
        margin: auto;
        color: $bgColorWhite;
        padding: 2vw 0 2vw 0;
        line-height: 25px;
        text-align: justify;
        @media (max-width:768px) {
            width: 90%;
            line-height: 20px;
            padding: 4vw 0 10vw 0;
        }
        @media (max-width:580px) {
            font-size: 14px;
        }
        @media (max-width:414px) {
            font-size: 12px;
        }
        a{
            color: $bgColorWhite;
            text-decoration: none;
        }
    }

    .footer_top{
        position: absolute;
        bottom: 2vw;
        left: 3.5vw;
        text-align: center;
        @media (max-width:768px) {
            bottom: 0;
            left: 0;
            transform: translate(78vw,-18vw);
        }
        @media (max-width:650px) {
            transform: translate(82vw,-25vw);
        }
        @media (max-width:610px) {
            transform: translate(82vw,-25vw);
        }
        @media (max-width:500px) {
            transform: translate(82vw,-37vw);
        }
        @media (max-width:430px) {
            transform: translate(80vw,-54vw);
        }
        @media (max-width:414px) {
            transform: translate(78vw,-51vw);
        }
        @media (max-width:375px) {
            transform: translate(78vw,-58vw);
        }

        &_t{
            animation: top 1.8s infinite; 
            position:absolute; 
            
            left: 1vw;
        }
        &_o{
            animation: top 1.8s infinite; 
            animation-delay: 0.2s; 
            position:absolute; 
            left: 2.2vw;
            @media (max-width:414px) {
                left: 6.1vw;
            }
        }
        &_p{
            animation: top 1.8s infinite; 
            animation-delay: 0.4s; 
            position:absolute; 
            right: 0.5vw;
        }
        span{
            bottom: 5.5vw; 
            @media (max-width:768px) {
                bottom: 10.5vw; 
            }
            @media (max-width:414px) {
                bottom: 14.5vw; 
            }
        }

        @keyframes top {
            0%{transform: translateY(0vw);}
            50%{transform: translateY(1vw);}
            100%{transform: translateY(0);}
        }
        
        button{
            background-color: transparent;
            outline: none;
            border: none;
            color: $bgColorWhite;
            text-decoration: none;
            cursor: pointer;
        }

        img{
            width: 5vw;
            vertical-align: bottom;
            padding-top: 0.5vw;
            @media (max-width:768px) {
                width: 8vw;
                transform: scaleX(-1);
            }
            @media (max-width:650px) {
                width: 10vw;
            }
            @media (max-width:610px) {
                width: 12vw;
            }
            @media (max-width:480px) {
                width: 13.5vw;
            }
            @media (max-width:414px) {
                width: 15vw;
            }
        }
        
    }

    .footer_ground{
        overflow: hidden;
        img{
            width: 100%;
            vertical-align: bottom;
            @media (width <= 768px) {
                width: 250%;
            }
        }
    }
}