footer{
    background-color: #4F3029;
    position: relative;

    .footer_deco{
        display: flex;
        .grasses_1 img{
            position: absolute;
            top: -3.8vw;
            left: 3.5vw;
            width: 9vw;
            vertical-align: bottom;
        }
        .grasses_9 img{
            position: absolute;
            top: -3.8vw;
            left: 14.5vw;
            width: 4vw;
            vertical-align: bottom;
        }
        .grasses_5 img{
            position: absolute;
            top: -3.8vw;
            right: 3.5vw;
            width: 11vw;
            vertical-align: bottom;
        }
        
    }

    .footer_first{
        width: 74%;
        margin: auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 0 2vw 0;
        @media (max-width:768px) {
            flex-direction: column;
            align-items: start;
            width: 87.1%;
        }
        .footer_front{
            width: 20%;
            @media (max-width:768px) {
                width: 30%;
            }
            .footer_logo {
                @media (max-width:768px) {
                    order: 1;
                }
                img{
                    width: 80%;
                    vertical-align: bottom;
                }
            }

            .footer_media{
                width: 80%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin-top: 1vw;
                @media (max-width:768px) {
                    align-items: center;
                }
                img{
                    width: 78%;
                    vertical-align: bottom;
                }
            }
        }

        .footer_info{
            width: 60%;
            color: $bgColorWhite;
            @media (max-width:768px) {
                width: 100%;
                order: 3;
                margin-top: 10px;
            }
            a{
                color: $bgColorWhite;
                text-decoration: none;
            }

            .pcInnerText{
                line-height: normal;
            }
        }

        .footer_tourists{
            color: $bgColorWhite;
            @media (max-width:768px) {
                margin-top: 10px;
                order: 2;
            }
        }
    }

    .footer_line{
        width: 74%;
        height: 1px;
        margin: auto;
        background-color: $bgColorWhite;
        @media (max-width:768px) {
            width: 87.1%;
        }
    }

    .footer_bottom{
        width: 74%;
        margin: auto;
        color: $bgColorWhite;
        padding: 2vw 0 2vw 0;
        line-height: 25px;
        @media (max-width:768px) {
            width: 87.1%;
        }
        a{
            color: $bgColorWhite;
            text-decoration: none;
        }
    }

    .footer_top{
        position: absolute;
        bottom: 2vw;
        left: 3.5vw;
        text-align: center;
        @media (max-width:768px) {
            left: 86%;
            bottom:30%;
        }
        @media (max-width:666px) {
            bottom:35%;
        }
        @media (max-width:600px) {
            bottom:36%;
        }
        @media (max-width:504px) {
            bottom:41%;
        }
        @media (max-width:440px) {
            bottom:42%;
        }
        @media (max-width:420px) {
            bottom:45%;
        }
        @media (max-width:410px) {
            bottom:46%;
        }
        @media (max-width:375px) {
            bottom:53%;
        }
        button{
            background-color: transparent;
            outline: none;
            border: none;
            color: $bgColorWhite;
            text-decoration: none;
            cursor: pointer;
        }

        img{
            width: 5vw;
            vertical-align: bottom;
            padding-top: 0.5vw;
            @media (max-width:768px) {
                width: 8vw;
                transform: scaleX(-1);
            }
        }
        
    }

    .footer_ground{
        img{
            width: 100%;
            vertical-align: bottom;
        }
    }
}