header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: $bgColorLightgray;
  @media (max-width:768px) {
    height: 60px;
  }
  @media (max-width:480px) {
    height: 50px;
  }
  @media (max-width:420px) {
    height: 45px;
  }
  @media (max-width:375px) {
    height: 40px;
  }
  nav {
    display: none;
    background-color: #a67751;
    border-bottom: 3px #d0ae93 solid;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 23px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @media (max-width:768px) {
      top: 70%;
      height: 100%;
    }
    @media (max-width:375px) {
      top: 60%;
      height: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      height: 0.5px;
      width: 100%;
      background-color: #9a6234;
      top: 0;
      bottom: 0;
      margin: auto;
      box-shadow: 0px -13.5px 0px #9a6234, 0px -9px 0px #9a6234,
        0px -4.5px 0px #9a6234, 0px 4.5px 0px #9a6234, 0px 9px 0px #9a6234,
        0px 13.5px 0px #9a6234;
    }

    .arrowleft{
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 40px solid #ff730000;
      // border-left: 50px solid $bgColorLightgray;
      // @media (max-width:768px) {
      //   border-bottom: 60px solid #ff730000;
      // }
      // @media (max-width:480px) {
      //   border-bottom: 50px solid #ff730000;
      // }
      // @media (max-width:420px) {
      //   border-bottom: 45px solid #ff730000;;
      // }
      // @media (max-width:375px) {
      //   border-bottom: 40px solid #ff730000;
      // }
    }

    .arrowright{
      position: absolute;
      top: 0;
      right: 0;
      border-bottom: 40px solid #ff730000;
      border-right: 50px solid $bgColorLightgray;
      @media (max-width:768px) {
        border-bottom: 60px solid #ff730000;
      }
      @media (max-width:480px) {
        border-bottom: 50px solid #ff730000;
      }
      @media (max-width:420px) {
        border-bottom: 45px solid #ff730000;;
      }
      @media (max-width:375px) {
        border-bottom: 40px solid #ff730000;
      }
    }

    .arrowtopleft{
      position: absolute;
      top: -10px;
      left: 50px;
      display: flex;
    }

    .arrowtopright{
      position: absolute;
      top: -10px;
      right: 50px;
      display: flex;
        
    }

    .arrowtopr{
      border-bottom: 10px solid #A67751;
      border-right: 2px solid #a6775100;
      border-left: 2px solid #a6775100;
      margin-left: 12vw;
    }

    .arrowtopl{
      border-bottom: 10px solid #A67751;
      border-right: 2px solid #a6775100;
      border-left: 2px solid #a6775100;
      margin-right: 12vw;
    }

    ul{
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      width: 80%;
      position: relative;
      // padding-bottom: 7px;
      // margin-left: 6.5%;
      @media (max-width:768px) {
        height: 100%;
      }
    }

    a{
      text-decoration: none;
      // font-size: $pcFontH4;
      color: $bgColorWhite;
      // position: relative;
      &:hover{
        color: $primaryColorYellow;
      }
    }

    .pcInnerText{
        line-height: normal;
    }

    .header_btn{
      padding-bottom: 7px;

    }

    .header_logo{   
      width: 180px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 0 0 0 ;
      background-image: url("/src/assets/images/header/header_logo_bg.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      img{
          width: 105px;
          // height: 48px;
          vertical-align: bottom;
      }
      @media (max-width:768px) {
        width: 41.2%;
        height: 166%;
        a{
          display: flex;
          justify-content: center;
          width: 100%;
        }
        img{
          width: 67.4%;
        }
      }
      @media (max-width:480px) {
        width: 50%;
        height: 166%;
      }
    }

    .header_login{
      position: absolute;
      right: -4vw;
      padding-bottom: 4px;

      .icon img{
        width: 15px;
      }

      .header_login_hover{
        position: absolute;
        top: -30px;
        right: -1.5vw;
        width: 60px;
        height: 20px;
        overflow: hidden;

        img {
          width: 100px;
          height: 20px;
          position: absolute;
          top: 15px;
          left: -18px;
          vertical-align: bottom;
          transition: .5s ease-in-out;
        }
      }
      
      &:hover .header_login_hover img{
        display: block;
        top: 0px;
        
      }
    }

    .header_news{
      .header_news_hover{
        position: absolute;
        top: 3px;
        // left: 5vw;
        width: 60px;
        height: 20px;
        overflow: hidden;

        img {
          width: 100px;
          height: 20px;
          position: absolute;
          top: 18px;
          left: -15px;
          vertical-align: bottom;
          transition: .5s ease-in-out;
        }
      }
      
      &:hover img{
        display: block;
        top: 0px;
      }
    }

    .header_park{
      .header_park_hover{
        position: absolute;
        top: 3px;
        // left: 15vw;
        width: 60px;
        height: 20px;
        overflow: hidden;

        img {
          width: 100px;
          height: 20px;
          position: absolute;
          top: 18px;
          left: -15px;
          vertical-align: bottom;
          transition: .5s ease-in-out;
        }
      }
      
      &:hover img{
        display: block;
        top: 0px;
      }
    }

    .header_animal{
      .header_animal_hover{
        position: absolute;
        top: 3px;
        // left: 24.5vw;
        width: 60px;
        height: 20px;
        overflow: hidden;

        img {
          width: 100px;
          height: 20px;
          position: absolute;
          top: 18px;
          left: -15px;
          vertical-align: bottom;
          transition: .5s ease-in-out;
        }
      }
      
      &:hover img{
        display: block;
        top: 0px;
      }
    }

    .header_vote{
      .header_vote_hover{
        position: absolute;
        top: 3px;
        // left: 51vw;
        width: 60px;
        height: 20px;
        overflow: hidden;

        img {
          width: 100px;
          height: 20px;
          position: absolute;
          top: 18px;
          left: -15px;
          vertical-align: bottom;
          transition: .5s ease-in-out;
        }
      }
      
      &:hover img{
        display: block;
        top: 0px;
      }
    }

    .header_school{
      .header_school_hover{
        position: absolute;
        top: 3px;
        // left: 60.8vw;
        width: 60px;
        height: 20px;
        overflow: hidden;

        img {
          width: 100px;
          height: 20px;
          position: absolute;
          top: 18px;
          left: -15px;
          vertical-align: bottom;
          transition: .5s ease-in-out;
        }
      }
      
      &:hover img{
        display: block;
        top: 0px;
      }
    }

    .header_ticket{
      .header_ticket_hover{
        position: absolute;
        top: 3px;
        // left: 70.5vw;
        width: 60px;
        height: 20px;
        overflow: hidden;

        img {
          width: 100px;
          height: 20px;
          position: absolute;
          top: 18px;
          left: -15px;
          vertical-align: bottom;
          transition: .5s ease-in-out;
        }
      }
      
      &:hover img{
        display: block;
        top: 0px;
      }
    }
    
    .header_ph_hb{
      position: absolute;
      right: 15%;
      top:0%;
      z-index: 1100;
      width: 7.8125%;
      height: 7.0175%;
      @media (max-width:550px) {
        top: 7%;
      }
      @media (max-width:430px) {
        top: 10%;
      }
      @media (max-width:330px) {
        top: 10%;
        right: 20%;
      }
      .header_ph_hb_style{
        margin: 20%;
        display: block;
        width: 100%;
        height: 80%;
        background-color: #fff;
        transition: all 0.3s ease
      }
      .header_hb_span1.active {
        position: absolute;
        top: 400%;
        transform: rotate(-45deg);
      }
      .header_hb_span2.active {
        opacity: 0;
      }
      .header_hb_span3.active {
        position: absolute;
        top: 400%;
        transform: rotate(45deg);
      }
    }

  }
  .header_ph_dis_no{
    @media (max-width:768px) {
      display: none;
    }
  }
  .header_pc_dis_no{
    @media (min-width:769px) {
      display: none;
    }
  }
}
.header_ph_hb_menu{
  position: fixed;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  background-color: #ffffffec;
  .header_router_links{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(45vw,30vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    @media (max-width:550px) {
      transform: translate(42vw,30vw);
    }
    @media (max-width:480px) {
      transform: translate(40vw,30vw);
    }
    a{
      color: $mainTextColor;
      text-decoration: none;
    }
  }
}
