header {
  z-index: 999;
  position: fixed;
  width: 100%;
  box-sizing: border-box;

  nav {
    background-color: #a67751;
    border-bottom: 3px #d0ae93 solid;
    width: 100%;
    box-sizing: border-box;
    background-color: $bgColorLightgray;

    nav{
        background-color: #A67751;
        border-bottom: 3px #D0AE93 solid;
        width: 100%;
        height: 35px;
        position: absolute;
        top: 23px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    ul{
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        width: 80%;
        position: relative;
        // padding-bottom: 7px;
        // margin-left: 6.5%;
    }

    a{
        text-decoration: none;
        font-size: $pcFontH4;
        color: $bgColorWhite;
        // position: relative;
    }

    .headerbtn{
        padding-bottom: 7px;
    }

    .logo{   
        width: 180px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0 0 0 ;
        background-image: url(/public/images/header/header_logo_bg.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 10px;
    }
    
    .logo img{
        width: 105px;
        // height: 48px;
        vertical-align: bottom;
    }

    .login{
        position: absolute;
        right: -50px;
        padding-bottom: 4px;
    }

    .login img{
        width: 14px;
    }
}
