.memLightBox_bg{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}
.memLightBox {
  overflow: hidden;
  position: relative;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 31vw;
  .LBBg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .LBTextArea {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    .LBTextAreaP {
      color: $mainTextColor;
      margin-top: 1vw;
      letter-spacing: 2px;
      z-index: 9;
    }
    .closeIcon {
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 2vw;
      top: 2vw;
    }
  }
  .LBInputArea {
    z-index: 3;
    padding-top: 0.5vw;
    width: 70%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    :focus {
      outline: none;
    }
    .LBInput {
      width: 100%;
      display: flex;
      justify-content: center;
      .inputIconBg {
        border: 2px solid $mainTextColor;
        width: 35px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primaryColorYellow;
        img {
          width: 50%;
          height: 50%;
        }
      }
      input {
        padding: 0.5vw 0.5vw;
        border: 2px solid $mainTextColor;
        border-left: transparent;
        width: 100%;
        &::placeholder {
          width: 100%;
          height: 100%;
          color: $inputTextColor;
          font-size: $pcFontH4;
          font-family: $font;
          font-weight: 500;
        }
      }
    }
    .LBForget {
      margin-top: -25px;
      align-self: end;
      color: $mainTextColor;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .LBBtnArea {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25%;
    width: 80%;
  }
}
@media screen and (max-width: 1190px) {
  .memLightBox{ 
    width: 40vw;
    height: 42vw;
  }
}
@media screen and (max-width: 920px) {
  .memLightBox{ 
    width: 50vw;
    height: 52vw;
    .LBTextArea .closeIcon{
      right: 3vw;
      top: 3vw;
    }
  }
}
@media screen and (max-width: 768px) {
  .memLightBox.forHeader{
    margin-top: 120px;
  }
  .memLightBox{ 
    width: 60vw;
    height: 65vw;
    .LBTextArea{
      .closeIcon{
        right: 4.5vw;
        top: 4.5vw;
      }
    }
    .LBInputArea{
      .LBInput input{
        padding: 1vw 1.5vw;
      }
    }
  }
}
@media screen and (max-width: 520px) {
  .memLightBox{ 
    width: 75vw;
    height: 82vw;
    .LBInputArea{
      padding-top: 1.5vw;

      .LBForget{
        margin-top: -2vw;
      }
    }
  }
}
@media screen and (max-width: 410px) {
  .memLightBox{ 
    width: 90vw;
    height: 100vw;
    .LBTextArea{
      .closeIcon{
        right: 5.5vw;
        top: 5.5vw;
      }
    }
  }
}