
.animal_banner{
    img{
        width: 100%;
        vertical-align: middle;
    }   
}

.animal_pc_sidebar,.animal_detail_pc_sidebar{
    position: relative;
    z-index: 3;
    .filter_btn_item img{
        width: 2vw;
    }
    .no_slide{
        @media (max-width: 1920px) {
            left: 0px;
            top: 12vw;
            }
        @media (max-width: 1746px) {
        left: 0px;
        top: 12vw;
        }
        @media (max-width: 1536px) {
        left: 0px;
        top: 12vw;
        }
        @media (max-width: 1280px) {
        left: 0px;
        top: 12vw;
        }
        .silde{
            display: none;
        }
    }
    .hidden_buttom{
        display: none;
    }
    .octopus{
        position: absolute;
        top: -2.5vw;
        right: 0vw;
    }
    .monkey{
        position: absolute;
        top: -4vw;
        right: 0vw;
        @media screen and (max-width: 768px) {
            top: -11.5vw;
            left: 16vw;
        }
    }

}  
// .animal_detail_pc_sidebar{
//     top: 0;
// }
//menu-tree動物詳細頁面
#animaldetail_sidebar{
    @media screen and (max-width: 768px) {       
        position: absolute;
        bottom: 0;
        display: block;
    }
    .animaldetail_filter{
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        row-gap: 0;
        @media screen and (max-width: 768px) {       
            width: 200px;
            height: 12vh; 
        }
        .main_select{
            height: 6.2vh;
            display: flex;
            align-items: center;
            column-gap: 19px;
            img{
                width: 1.2vw;
                @media (max-width: 768px) {
                    width: 2.6vw;
                }
            }
        }
        
        //次選
        .animaldetail_sub_menu{
            width: 100%;

            li{
                height: 3vw; 
                border-top: $bgColorLightgray solid 0.2vw;
                a{
                    display: block;
                    height: 100%;
                    text-align: center;
                    padding: 0.7vw 0;
                    background-color:$inputTextColor;
                    color: $mainTextColor;
                }
            }        
        }
    }
}


    
//動物總覽關掉側欄  
@media screen and (max-width: 768px) {
    .animal_pc_sidebar{
        display: none;
    }
}

.animal_section, .animal_detail_section{
    background-color: $bgColorLightgray;
    position: relative;
    max-width: 1920px;
}

.animal_select{
    display: none;
}
@media screen and (max-width: 768px) {
    .animal_section, .animal_detail_section{
        max-width: 768px;
    }

    .animal_select{
        display: block;
        margin-left: calc(5% + 2.1vw);
        margin-top:6.5vw ;

        height: 35px;
        width: 42vw;
        border: 2px solid #3f3f3f;
        // vertical-align: bottom;
        background-color: #ffffff;
        border-radius: 0;
        font-weight: 500;
        .option{
            height: 35px;
            border: 2px solid #3f3f3f;
            vertical-align: bottom;
            background-color: #ffffff;
            border-radius: 0;
        }
        
    }
}

section.grassland{
    padding-top: 4.6vw;
    background-image: url(/src/assets/images/animal/animal_bg/grassland_bg_pc.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 768px) {    background-image: url(/src/assets/images/animal/animal_bg/grassland_bg_mb.png);}
} 
section.polar{
    background-image: url(/src/assets/images/animal/animal_bg/polar_bg_pc.png);
    background-repeat: no-repeat;
    background-size:cover;
    @media screen and (max-width: 768px) {    
        background-image: url(/src/assets/images/animal/animal_bg/polar_bg_mb.png);}
} 
section.jungle{
    padding-top: 4.6vw;
    background-image: url(/src/assets/images/animal/animal_bg/jungle_bg_pc.png);
    background-repeat: no-repeat;
    background-size:cover;
    @media screen and (max-width: 768px) {
        background-image: url(/src/assets/images/animal/animal_bg/jungle_bg_mb.png);
    }
} 
section.birds{
    padding-top: 4.6vw;
    background-image: url(/src/assets/images/animal/animal_bg/birds_bg_pc.png);
    background-repeat: no-repeat;
    background-size:cover;
    @media screen and (max-width: 768px) {
        background-image: url(/src/assets/images/animal/animal_bg/birds_bg_mb.png);
    }
} 

section.aqua{
    padding-bottom: 4.2vw;
    background-image: url(/src/assets/images/animal/animal_bg/aqua_bg_pc.png);
    background-repeat: no-repeat;
    background-size:cover;
    @media screen and (max-width: 768px) {
        padding-bottom: 18.6vw;
        background-image: url(/src/assets/images/animal/animal_bg/aqua_bg_mb.png);
    }
}


.animal_park{
    max-width: calc(74% - 12%);
    margin: auto;
    padding-top:4vw ;
    .animal_park_name{
        color: $primaryColorGreen;
    }
}
@media screen and (max-width: 768px) {
    .animal_park{
        max-width: 90%;
        padding-top:6.5vw ;
    }
}

.animal_park_name{
    margin-left: 2.1vw;
    padding-bottom: 1.5vw;
}
.animal_info{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.6vw;
}

.animal_each{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.6vw;
    .animal_frame{
        background-image: url(/src/assets/images/animal/animal_frame.png);
    }
    img{
        width: 17vw;
        padding:0.35vw 0.3vw 0.3vw 0.3vw;
    }
    .animal_name{
        color:$mainTextColor;
        text-align: center;
        padding-top: 1.45vw; 
    }
}
[class*=col-] {
    box-sizing: border-box;
}
.col-md-4 {
    width: 33.333333%;
}

@media screen and (max-width: 768px) {
    .animal_each{
        padding-bottom: 5.2vw;
        img{
            width: 40vw;
        }
        .animal_name{
            text-align: center;
            padding-top: 4vw; 
        }
    }
    .col-sm-6 {
    width: 50%;
    }
}


//動物詳細頁面
.animal_detail_overview{
    position: relative;
    z-index: 1;
    max-width: 74%;
    margin: auto;
    padding-left: 6vw; 
    padding-top: 4.2vw;
    p{
        color:$mainTextColor;
    }
    @media screen and (max-width: 768px) {
        max-width: 90%;
        padding-left: 0;
    }
}

.animal_detail_info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .animal_detail_text{
        display: flex;
        flex-direction: column;
        width: 24vw;
        gap: 2vw;
        h5{
            padding-bottom: 1.2vw;
            color: $primaryColorGreen;
        }
    }
    .animal_detail_img_list{
        .big_pic img{
            vertical-align: middle;
            width: 36vw;
        }
        .small_pic{
            display: flex;
            padding-top: 1vw;
            justify-content: space-between;
            flex-wrap: wrap;
            img{
                vertical-align: middle;
                width: 11vw;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .animal_detail_info{
        flex-direction: column;
        .animal_detail_img_list{
            order:-1;
            .big_pic img{
                vertical-align: middle;
                width: 100%;
            }
            .small_pic{
                display: flex;
                padding-top: 2.6vw;
                justify-content: space-between;
                flex-wrap: wrap;
                img{
                    vertical-align: middle;
                    width: 28vw
                }
            }
        }
        .animal_detail_text{
            width: 100%;
            gap: 5.2vw;
        }
    }

}

.animal_detail_title{
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
    h2{
        color: $primaryColorGreen;
        padding-right: 0.8vw;
    }
    img{
        width: 32px;
    }
}
.animal_detail_sec-section{
    display: flex;
    .animal_detail_name{
        padding-right: 10.4vw;
    }
}

@media screen and (max-width: 768px) {

    .animal_detail_title{
        justify-content: center;
        margin:5.6vw 0 2vw 0;
    }
    .animal_detail_sec-section{
        .animal_detail_name{
            padding-right: 36vw;
        }
    }
}


.animal_detail_intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.2vw;
    padding-bottom: 5.2vw;
    .animal_detail_icon{
        img{
            width: 15.6vw;  
        }
    }
    .animal_detail_text_bg{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(/src/assets/images/animal/papper.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 10vw;
    }
    p{
        padding: 2.3vw 1.5vw;
    }
}
.animal_detail_intro_ph{
    display: none;
}

@media screen and (max-width: 768px) {
    .animal_detail_intro{
        display: none;
    } 
    .animal_detail_intro_ph{
        
        display: block;
        width: 100%;
        background-color: $primaryColorGreen;
        .animal_detail_intro_content{
            width: 90%; 
            margin: auto;
            margin-top: 5vw ;
            padding-bottom: 16vw ;
            display: flex;
            flex-direction: column;
            padding: 5.2vw 0;   
            .animal_detail_icon{   
                text-align: center;
                img{   
                    width: 40vw;     
                }   
            }   
            p{     
                padding-top: 2.6vw;
                color: $bgColorLightgray;   
            }    
        }   
        
    } 
    
} 

//背景

.animal_detail_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    .cloud_bg{
        position: absolute;
    }
    .cloud_4{
        top: 8%; 
        left: 0%;
        width: 25%;      
    }
    .cloud_6{   
        top: 15%;      
        right: 0%;  
        width: 20%;   
    }
    .cloud_7{
        top: 15%; 
        left: 46%;
        width: 10%;
    }
    .animal_bg_animal{
        position: absolute;
        z-index: 0;
        bottom: 0;
    }
    .ostrich{
        width: 6%; 
        left: 7%;

        -moz-transform:scaleX(-1);
        -webkit-transform:scaleX(-1);
        -o-transform:scaleX(-1);
        transform:scaleX(-1);
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .chimpanzees{
        width: 8%; 
        right: 0;
        @media screen and (max-width: 768px) {
            width: 12%; 
        }
    }
}




