.home{
    //banner
    .home_banner{
        position: relative;
        overflow: hidden; 
        // height: 100vh;
        

        &_deco{
            position: absolute;
            display: flex;
            width: 100%;
            bottom: 0;
            z-index: 2;
            .tree_2 img{
                position: absolute;
                bottom: 2vw;
                left: -4vw;
                width: 13vw;
                vertical-align: bottom;
            }
            .tree_4 img{
                position: absolute;
                bottom: 0;
                left: 6vw;
                width: 6vw;
                vertical-align: bottom;
            }
            .tree_8 img{
                position: absolute;
                bottom: 0;
                right: -4vw;
                width: 17vw;
                vertical-align: bottom;
            }
            .squirrel_1 img{
                position: absolute;
                bottom: 0;
                left: 2vw;
                width: 7vw;
                vertical-align: bottom;
                transform:scaleX(-1);
            }
            .ostrich img{
                position: absolute;
                bottom: 0;
                right: 9vw;
                width: 8vw;
                vertical-align: bottom;
            }
        }
        
        &_carousel{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            position: relative;
            max-width: 100%;
            overflow: hidden;
            &_img {
                img{
                    height: auto;
                    width: 100%;
                }
            }

            &_controls {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: space-between;
                width: 100%;
                button {
                    background-color: #ffffff00;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    filter:drop-shadow(0px 0px 0.3vw rgba(0,0,0,60));
                    padding: 0 1vw;
                    img{
                        width: 1.2vw;
                    }
                }
                
            }
        }
        

        


        // .banner1{
        //     width: 100%;
        //     height: 100vh;
        //     background-size: cover;
        //     background-image: url("/src/assets/images/home/home_banner_1.jpg");
        //     background-repeat: no-repeat;
        //     background-position: center center;
        // }
    }
    

    

    //快速選單 選單
    .home_qkmnu{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1vw;
        display: flex;
        justify-content: space-between;
        width: 74%;
        margin: auto;
        z-index: 3;
        .home_qkmnu_btn{
            position: relative;
            
            
            // cursor: pointer;
            .home_qkmnu_btn_img{
                position: absolute;
                width: 17vw;
                height: 3vw;
                top: -3vw;
                right: 1vw;
                overflow: hidden;
                img{
                    position: absolute;
                    height: 5vw;
                    right: 0;
                    top: 3vw;
                    transition: .5s ease-in-out;
                }
            }

            &:hover .home_qkmnu_btn_img img{
                display: block;
                top: 0;
            }
        }
        
        button{
            cursor: pointer;
            color: $mainTextColor;
            padding-bottom: 10px;
            width: 17vw;
            height: 6.5vw;
            border: none;
            background-size: cover;
            background-image: url("/src/assets/images/home/home_btnbkg.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-color: rgba(255, 255, 255, 0);  
            &:hover{
                background-image: url("/src/assets/images/home/home_btnbkg_hover.svg");
            }

        }

        button.hovered{
            background-image: url("/src/assets/images/home/home_btnbkg_hover.svg");
        }
    }

    //快速選單 內頁
    .home_qkpage{
        width: 74%;
        height: 40vw;
        margin: auto;

        &_time{
            padding: 11% 0;
            .time{
                display: flex;
                justify-content: space-between;
                text-align: center;
                align-self: center;

                .timeitem{
                    width: 32%;
                    border: 2px $primaryColorGreen solid;
                    align-items: center;

                    .title{
                        color: $primaryColorYellow;
                        background-color: $primaryColorGreen;
                        height: 50%;
                        padding-top: 8%;
                        padding-bottom: 8%;
                    }

                    .clock{
                        color: $mainTextColor;
                        height: 50%;
                        padding-top: 8%;
                        padding-bottom: 8%;
                    }
                    
                }
            }

            .notice{
                margin-top: 2vw;
                h3{
                    color: $secColorblue;
                }

                ul{
                    margin-top: 1vw;
                }

                li{
                    color: $mainTextColor;
                    line-height: 30px;
                }
            }
        }

        &_ticket{
            padding: 8% 0;
            display: flex;
            justify-content: space-between;
            color: $mainTextColor;
            text-align: center;
            
            .ticket_heading{
                width: 15%;
                p{
                    &:nth-child(1){
                        padding: 5.5vw 0;
                    }
                    &:nth-child(2){
                        padding: 1vw 0;
                    }
                    &:nth-child(3){
                        padding: 5.5vw 0;
                    }
                }
                
            }

            .ticket_type{
                width: 15%;
                height: 400px;
                position: relative;
                .ticket_bg{
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                .ticket_text{
                    position: absolute;
                    left: 14%;
                    width: 70%;
                    h2{
                        padding: 5vw 0 3vw 0;
                    }
                    .ticket_price{
                        padding: 3vw 0;
                    }
                    .line{
                        width: 100%;
                        height: 1.5px;
                        background-color: $mainTextColor;
                    }
                    .ticket_rule{
                        padding: 3vw 0 5vw 0;
                        line-height: 1.5vw;
                    }

                    
                }
                
            }
            
        }

        &_park{
            width: 80%;
            margin: auto;
            padding: 7% 0;
            // display: flex;
            // justify-content: center;
            // padding: 7% 0;
            // img{
            //     width: 80%;
            //     vertical-align: bottom;
            // }
        }

        &_traffic{
            padding: 8% 0;
            display: flex;
            justify-content: space-between;
            align-content: center;

            .traffic_btn{
                display: flex;
                flex-direction: column;
                padding: 7% 0;
                button{
                    margin-top: 2vw;
                    &:nth-child(3){
                        .iconText {
                            padding: 0 0.8vw;
                            gap: 0.1vw;
                            img{
                                width: 150px;
                            }
                        }
                    }
                }
                .iconBtn.hovered{
                    background-color: $primaryColorYellow;
                }
            }

            .traffic_page{
                position: relative;

                &_map_mapimg {
                    img{
                        position: absolute;
                        width: 100%;
                        vertical-align: bottom;
                    }
                }
                .traffic_page_deco{
                    position: absolute;
                    display: flex;
                    width: 100%;
                    // z-index: 2;

                    .cloud_6 img{
                        position: absolute;
                        top: -2vw;
                        left: -4vw;
                        width: 13vw;
                        vertical-align: bottom;
                    }

                    .cloud_2 img{
                        position: absolute;
                        bottom: -30vw;
                        right: 0vw;
                        width: 15vw;
                        vertical-align: bottom;
                    }

                    .hedgehog img{
                        position: absolute;
                        bottom: -28.5vw;
                        right: 10vw;
                        width: 6vw;
                        vertical-align: bottom;
                    }
                }
                // position: relative;
                width: 85%;
                
                &_map_location{
                    position: absolute;
                    .ground img{
                        position: absolute;
                        top: 9.85vw;
                        left: 27.6vw;
                        width: 4.5vw;
                        vertical-align: bottom;
                        }
                    .location img{
                        position: absolute;
                        top: 7vw;
                        left: 27.6vw;
                        width: 4.5vw;
                        vertical-align: bottom;
                    }
                    .ladybug img{
                        position: absolute;
                        top: 9vw;
                        left: 29vw;
                        width: 1.2vw;
                        vertical-align: bottom;
                    }
                    .conversation img{
                        position: absolute;
                        top: 7.3vw;
                        left: 26.5vw;
                        width: 3vw;
                        vertical-align: bottom;
                    }
                }


                &_train img{
                    position: absolute;
                    bottom: 3.5vw;
                    left: 32.5vw;
                    width: 2.3vw;
                    vertical-align: bottom;
                }

                &_bus img{
                    position: absolute;
                    width: 2.3vw;
                    vertical-align: bottom;
                    &:nth-child(1){
                        bottom: 9vw;
                        left: 46vw;
                    }
                    &:nth-child(2){
                        bottom: 7.5vw;
                        left: 39vw;
                    }
                    &:nth-child(3){
                        bottom: 5vw;
                        left: 34.5vw;
                    }
                    &:nth-child(4){
                        bottom: 1vw;
                        left: 27vw;
                    }
                    &:nth-child(5){
                        bottom: 11vw;
                        left: 33vw;
                    }
                    &:nth-child(6){
                        bottom: 10vw;
                        left: 28vw;
                    }
                    &:nth-child(7){
                        bottom: 6.5vw;
                        left: 21vw;
                    }
                    &:nth-child(8){
                        bottom: 2.5vw;
                        left: 11vw;
                    }
                    &:nth-child(9){
                        bottom: 13.5vw;
                        left: 28vw;
                    }
                    &:nth-child(10){
                        bottom: 11.5vw;
                        left: 23.5vw;
                    }
                    &:nth-child(11){
                        bottom: 15vw;
                        left: 21vw;
                    }
                    &:nth-child(12){
                        bottom: 19.5vw;
                        left: 34vw;
                    }
                    &:nth-child(13){
                        bottom: 23vw;
                        left: 30.5vw;
                    }
                    &:nth-child(14){
                        bottom: 22.5vw;
                        left: 24vw;
                    }
                    &:nth-child(15){
                        bottom: 18.5vw;
                        left: 13vw;
                    }
                }

                &_ubike img{
                    position: absolute;
                    width: 2.3vw;
                    vertical-align: bottom;
                    &:nth-child(1){
                        bottom: 4.5vw;
                        left: 34.5vw;
                    }
                    &:nth-child(2){
                        bottom: 21vw;
                        left: 30.5vw;
                    }
                }

                &_parking img{
                    position: absolute;
                    width: 2.3vw;
                    vertical-align: bottom;
                    &:nth-child(1){
                        bottom: 4.5vw;
                        left: 27vw;
                    }
                    &:nth-child(2){
                        bottom: 6vw;
                        left: 23vw;
                    }
                    &:nth-child(3){
                        bottom: 4.5vw;
                        left: 34.5vw;
                    }
                    &:nth-child(4){
                        bottom: 12vw;
                        left: 34vw;
                    }
                    &:nth-child(5){
                        bottom: 14vw;
                        left: 28.5vw;
                    }
                    &:nth-child(6){
                        bottom: 18.5vw;
                        left: 32vw;
                    }
                }
            }
        }

        &_deco{
            position: absolute;
            display: flex;
            width: 100%;
            z-index: 2;
            .bee{
                position: absolute;
                top: 0.5vw;
                left: 1vw;
                animation: beeconver 15s linear infinite;
                .beeimg img{
                    position: absolute;
                    top: -28vw;
                    left: 3vw;
                    width: 6vw;
                    vertical-align: bottom;
                    transform:scaleX(-1);
                }
                
                .beeconversation {
                    position: relative;
                    top: -32vw;
                    left: 3vw;
                    &_text{
                        position: absolute;
                        top: 0.5vw;
                        left: 0.77vw;
                        z-index: 4;
                        color: $mainTextColor;
                    }

                    img{
                        width: 8vw;
                        vertical-align: bottom;
                    }
                }

                @keyframes beeconver {
                    15% {
                        top: 1vw;
                        left: 1.5vw;
                    }
                    30% {
                        top: -2vw;
                        left: 1vw;
                    }
                    45% {
                        top: 1vw;
                        left: 0.5vw;
                    }
                    60% {
                        top: 0vw;
                        left: 1vw;
                    }
                    75% {
                        top: 1vw;
                        left: 1.5vw;
                    }
                    90% {
                        top: -2vw;
                        left: 1vw;
                    }
                }
            }
            

            .chameleon_1 img{
                position: absolute;
                top: -4vw;
                right: 0;
                width: 9vw;
                vertical-align: bottom;
            }
            
            .chameleonconversation {
                position: relative;
                top: 3vw;
                right: -86vw;
                
                &_text{
                    position: absolute;
                    top: 2.1vw;
                    right: 1vw;
                    z-index: 4;
                    color: $mainTextColor;
                }

                img{
                    width: 8vw;
                    vertical-align: bottom;
                }
            }

        }
    }

    .home_animalfoot{
        position: relative;
        top: 8vw;

        .foot1{
            position: absolute;
        }
        .foot2{
            position: absolute;
            top: -4vw;
            left: 4vw;
        }
        .foot3{
            position: absolute;
            top: -7vw;
            left: 10vw;
        }
        .foot4{
            position: absolute;
            top: -8vw;
            left: 17vw;
        }
        .foot5{
            position: absolute;
            top: -7.5vw;
            left: 24.5vw;
        }
        .foot6{
            position: absolute;
            top: -7vw;
            left: 31vw;
        }
        .foot7{
            position: absolute;
            top: -7vw;
            left: 36.5vw;
        }
        .foot8{
            position: absolute;
            top: -7.5vw;
            left: 42.5vw;
        }
        .foot9{
            position: absolute;
            top: -9vw;
            left: 48vw;
        }
    }

    //天氣 最新消息
    .home_wn{        
        padding-bottom: 13vw;
        position: relative;
        margin-top: 18vw;

        &_section{
            display: flex;
            width: 74%;
            margin: auto;
        }

        &_weather{
            width: 35%;
            text-align: center;
            cursor: pointer;
            h2{
                color: $secColorblue;
            }
            .city{
                color: $mainTextColor;
                line-height: 5vw;
            }
            .weatherimg{

                img{
                    width: 13vw;
                }
            }
            .temperature{
                color: $mainTextColor;
                line-height: 5vw;
            }
        }

        &_news{
            width: 65%;
            &_heading{
                display: flex;
                justify-content: space-between;
                h2{
                    color: $primaryColorGreen;
                }
            }

            &_section{
                margin-top: 2vw;
                height: 16.5vw;
                overflow: auto;
                // display: flex;

                &::-webkit-scrollbar{
                    width: 0;
                }
                &::-webkit-scrollbar-track{
                    overflow: hidden;
                }

                .news_info{
                    text-decoration: none;
                    border-top: 1px $mainTextColor solid;
                    padding: 1.5vw;
                    &:last-child{
                        border-bottom: 1px $mainTextColor solid;
                    }

                    .news_datetag{
                        display: flex;
                        align-items: center;
                        .news_time{
                            color: $mainTextColor;
                            width: 6vw;
                        }
                        .news_tag{
                            margin: 0 2vw;
                        }
                    }
                    
                    
                    .news_title{
                        color: $mainTextColor;
                        width: 60%;
                        p{
                            //自動...
                            overflow:hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        
                    }
                }
            }
            
        }

        &_deco{
            position: absolute;
            display: flex;
            width: 100%;
            bottom: 0;
            .tree_7 img{
                position: absolute;
                bottom: 0;
                left: -4vw;
                width: 12vw;
                vertical-align: bottom;
            }
            .giraffe img{
                position: absolute;
                bottom: 0;
                left: 3vw;
                width: 10vw;
                vertical-align: bottom;
                transform:scaleX(-1);
            }
            .grass_1 img{
                position: absolute;
                bottom: 0;
                left: 14vw;
                width: 4vw;
                vertical-align: bottom;
            }
            .grass_3 img{
                position: absolute;
                bottom: 0;
                left: 20vw;
                width: 2.5vw;
                vertical-align: bottom;
            }
            .grass_5 img{
                position: absolute;
                bottom: 0;
                right: 15vw;
                width: 5vw;
                vertical-align: bottom;
            }
            .tree_1 img{
                position: absolute;
                right: 0vw;
                bottom: 0;
                width: 12vw;
                vertical-align: bottom;
            }
        }
        
        //天氣燈箱
        .weatherlb {
            position: fixed;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            backdrop-filter: blur(5px);
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1000;
            @media (width <= 768px) {
                align-items: flex-start;
            }
        }

        .moreweather{
            position: relative;
            overflow: hidden;
            top: 20px;
            display: flex;
            justify-content: space-between;
            // flex-direction: column;
            align-items: center;
            width: 70vw;
            height: 20vw;
            padding: 5vw;
            // @media (width <= 768px) {
            //     width: 80%;
            //     height: 60%;
            // }
        
            background-size: cover;
            background-image: url("/src/assets/images/home/home_weather_papper.svg");
            background-repeat: no-repeat;
            background-position: center center;

            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
            

            &_content{
                display: flex;
                justify-content: space-between;
                
                &_day{
                    color: $mainTextColor;
                    h3{
                        
                        
                    }
                    img{
                        width: 80%;
                        vertical-align: bottom;
                        padding: 0 0 1.5vw 0;
                    }
                }
            }
        }
    }

    //園區地圖
    .home_park{
        img{
            width: 100%;
            vertical-align: bottom;
        }
    }

    //人氣投票
    .home_vote{
        background-color: $bgColorLightgray;
        position: relative;
        padding-top: 5vw;
        
        &_section{
            width: 74%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;  
        }

        &_text{
            padding-bottom: 7vw;
            h2{
                color: $primaryColorGreen;
            }
            h3{
                color: $mainTextColor;
                padding: 0.1vw 0 1vw 0;
            }
        }

        &_podium{
            position: relative;
            height: 600px;
            width: 55%;
            .vote_img {
                width: 9vw;
                border: $primaryColorYellow solid 3px;
            }

            //共用樣式
            .podium_group{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .vote_name {
                    margin: 1vw 0 2vw 0;
                    color: $mainTextColor;
                }
                .podium_box{
                    display: flex;
                    justify-content: center;
                    position: relative;
                    width: 15vw;
                    background: rgb(254, 208, 1);
                    background: linear-gradient(
                        180deg,
                        rgba(254, 208, 1, 1) 0%,
                        rgba(254, 208, 1, 0.38716736694677867) 41%,
                        rgba(254, 208, 1, 0) 85%
                    );
                }
                .NO {
                    width: 2.3vw;
                    height: auto;
                    position: absolute;
                    top: -1vw
                }
                .score{
                    color: $mainTextColor;
                    position: absolute;
                    top: 2.5vw;
                    z-index: 10;
                }
            }
        
            .podium1 {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -4vw;
                .podium_box {
                    height: 25vw;
                    z-index: 3;

                    /* 新增 border 相關屬性 */
                    border-left: 4px solid transparent; /* 透明的左邊框 */
                    border-right: 4px solid transparent; /* 透明的左邊框 */
                    border-image: linear-gradient(
                        to bottom,
                        $bgColorLightgray 60%,
                        rgba(255, 255, 255, 0) 85%
                    );
                    border-image-slice: 1;
                }
            }
            
            .podium2 {
                left: 0;
                position: absolute;
                bottom: -4vw;
                .podium_box {
                    height: 20vw;
                    z-index: 2;
                }
            }

            .podium3 {
                right: 0;
                position: absolute;
                bottom: -4vw;
                .podium_box {
                    height: 15vw;
                    z-index: 1;
                }
            }
            
            
        }

        &_decosky{
            position: absolute;
            width: 100%;
            top: 0;
            .cloud_4 img{
                position: absolute;
                top: 10vw;
                left: -4vw;
                width: 14vw;
                vertical-align: bottom;
                animation: cloud_4 12s linear infinite;
            }
            .cloud_6 img{
                position: absolute;
                top: -2vw;
                left: 30vw;
                width: 11vw;
                vertical-align: bottom;
                animation: cloud_6 17s linear infinite;
            }
            .cloud_3 img{
                position: absolute;
                top: 5vw;
                right: 4vw;
                width: 14vw;
                vertical-align: bottom;
                animation: cloud_3 15s linear infinite;
            }

            @keyframes cloud_4 {
                15% {
                    left: -3vw;
                    top: 11vw;
                }
                30% {
                    left: -2vw;
                    top: 10vw;
                }
                45% {
                    left: -1vw;
                    top: 11vw;
                }
                60% {
                    right: -2vw;
                    top: 10vw;
                }
                75% {
                    right: -3vw;
                    top: 11vw;
                }
                90% {
                    right: -4vw;
                    top: 10vw;
                }
            }

            @keyframes cloud_6 {
                15% {
                    left: 31vw;
                    top: -2vw;
                }
                30% {
                    left: 32vw;
                    top: -1vw;
                }
                45% {
                    left: 33vw;
                    top: -2vw;
                }
                60% {
                    right: 32vw;
                    top: -1vw;
                }
                75% {
                    right: 31vw;
                    top: -1vw;
                }
                90% {
                    right: 30vw;
                    top: -2vw;
                }
            }

            @keyframes cloud_3 {
                15% {
                    right: 3vw;
                    top: 6vw;
                }
                30% {
                    right: 2vw;
                    top: 7vw;
                }
                45% {
                    right: 1vw;
                    top: 6vw;
                }
                60% {
                    right: 2vw;
                    top: 5vw;
                }
                75% {
                    right: 3vw;
                    top: 6vw;
                }
                90% {
                    right: 4vw;
                    top: 7vw;
                }
            }
        }

        &_decoground{
            position: absolute;
            width: 100%;
            bottom: 0;
            .grasses_2 img{
                position: absolute;
                bottom: 0;
                left: -2vw;
                width: 6vw;
                vertical-align: bottom;
            }
            .crocodile img{
                position: absolute;
                bottom: 0;
                left: 15vw;
                width: 16vw;
                vertical-align: bottom;
                transform:scaleX(-1);
            }
            .meerkat img{
                position: absolute;
                left: 20vw;
                bottom: 4.5vw;
                width: 3vw;
                vertical-align: bottom;
                transform:scaleX(-1);
            }
            .conversation {
                &_text{
                    position: absolute;
                    left: 29vw;
                    bottom: 6.5vw;
                    z-index: 4;
                    color: $mainTextColor;
                }

                img{
                    position: absolute;
                    left: 28vw;
                    bottom: 5vw;
                    width: 7vw;
                    vertical-align: bottom;
                }
            }
            
            
        }
    }

    //留言板
    .home_comment{
        position: relative;
        // height: ÷00px;
        background-color: $primaryColorGreen;
        text-align: center;
        padding: 7vw 0;
        &_title{
            color: $primaryColorYellow;
        }
        h3{
            color: $bgColorWhite;
            padding: 0.1vw 0 1vw 0;
        }
        &_section{
            overflow-x: auto;

            &::-webkit-scrollbar{
                width: 0;
                // background-color: azure;
            }

            &::-webkit-scrollbar-track{
                overflow: hidden;
            }
            .comment_group{
                width: 3500px;
                padding: 3vw 0;
                display: flex;
                .comment{
                    background-color: $bgColorWhite;    
                    border: 3px $primaryColorGreen solid;
                    padding: 15px;
                    width: 340px;
                    position: relative;
                    
                    .comment_report{
                        cursor: pointer;
                        .before{
                            position: absolute;
                            top: 25px;
                            left: 25px;
                            filter:drop-shadow(0px 0px 0.3vw rgba(0,0,0,60));
                        }
                        
                        .hover{
                            display: none;
                            .hover_report{
                                position: absolute;
                                top: 25px;
                                left: 25px;
                                filter:drop-shadow(0px 0px 0.6vw rgba(0,0,0,60));
                            }
                            .hover_conversation{
                                position: absolute;
                                top: -30px;
                                left: -12px;
                                width: 100px;
                                &_img{
                                    width: 100px;
                                }

                                &_text{
                                    color: $mainTextColor;
                                    position: absolute;
                                    top: 4px;
                                    left: 4px;
                                }
                            }
                            
                            
                        }

                        &:hover .hover{
                            display: block;
                        }
                    }

                    .comment_img{
                        vertical-align: bottom;
                        width: 100%; 
                    }
                    &_content{
                        color: $mainTextColor;
                        padding-top: 0.6vw;
                        text-align: justify;
                    }
                }
                .comm1{
                    transform:rotate(-5deg); 
                    margin-left: -0.3vw;
                    .hover_conversation{transform:rotate(5deg); }
                }
                .comm2{
                    transform:rotate(4deg); 
                    margin-left: 0.3vw;
                    .hover_conversation{transform:rotate(-4deg); }
                }
                .comm3{
                    transform:rotate(-6deg); 
                    margin-left: -0.6vw;
                    .hover_conversation{transform:rotate(6deg); }
                }
                .comm4{
                    transform:rotate(4deg);
                    .hover_conversation{transform:rotate(-4deg); }
                }
            }
        }

        .iconBtn{
            width: 135px;
        }

        &_decotop{
            position: absolute;
            width: 100%;
            top: 0;
            .alpaca img{
                position: absolute;
                top: 4vw;
                left: -2vw;
                width: 7vw;
                vertical-align: bottom;
                transform:scaleX(-1);
            }
            .tree_4 img{
                position: absolute;
                top: 9vw;
                left: 8vw;
                width: 7vw;
                vertical-align: bottom;
            }
            .grasses_1 img{
                position: absolute;
                top: 7vw;
                left: 25vw;
                width: 6vw;
                vertical-align: bottom;
            }
            .grasses_5 img{
                position: absolute;
                top: 3vw;
                right: 28vw;
                width: 6vw;
                vertical-align: bottom;
            }
            .chimpanzee img{
                position: absolute;
                top: 4.5vw;
                right: 24vw;
                width: 7vw;
                vertical-align: bottom;
            }
            .tree_6 img{
                position: absolute;
                top: -8vw;
                right: 5vw;
                width: 6vw;
                vertical-align: bottom;
                z-index: 1;
            }
            .tree_7 img{
                position: absolute;
                top: 1vw;
                right: 9vw;
                width: 8vw;
                vertical-align: bottom;
                z-index: 1;
            }

            
        }

        &_decobottom{
            position: absolute;
            width: 100%;
            bottom: 0;
            .tree_1 img{
                position: absolute;
                bottom: 0;
                left: -4vw;
                width: 10vw;
                vertical-align: bottom;
            }
            .grasses_2 img{
                position: absolute;
                bottom: 11vw;
                left: 21vw;
                width: 6vw;
                vertical-align: bottom;
                transform:scaleX(-1);
            }
            .duck img{
                position: absolute;
                left: 28vw;
                bottom: 4.5vw;
                width: 4vw;
                vertical-align: bottom;
                transform:scaleX(-1);
            }
            .tree_2 img{
                position: absolute;
                right: 20vw;
                bottom: 8vw;
                width: 8vw;
                vertical-align: bottom;
                transform:scaleX(-1);
            }
            
            
            
        }

        //留言燈箱
        .commlb {
            position: fixed;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            backdrop-filter: blur(5px);
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1000;
            @media (width <= 768px) {
                align-items: flex-start;
            }
        }
    }








    // <div class="home_news">
    //   <div class="newsgroup">
    //     <div class="news">1</div>
    //     <div class="news">2</div>
    //     <div class="news">3</div>
    //     <div class="news">4</div>
    //     <div class="news">5</div>
    //     <div class="news">6</div>
    //     <div class="news">7</div>
    //   </div>
    // </div>

    // 縱向滾動
    // .home_news{
    //     width: 600px;
    //     height: 200px;
    //     background-color: azure;
    //     margin: auto;
    //     overflow: auto;
    //     // display: flex;

    //     &::-webkit-scrollbar{
    //         width: 0;
    //         // background-color: azure;
    //     }
    //     &::-webkit-scrollbar-track{
    //         overflow: hidden;
    //     }
    //     .news{
    //         width: 100px;
    //         height: 100px;
    //         background-color: black;
    //         margin: 10px;
            
    //     }
    // }

    // 橫向滾動
    // .home_news{
    //     width: 600px;
    //     height: 200px;
    //     background-color: azure;
    //     margin: auto;
    //     overflow-x: auto;

    //     &::-webkit-scrollbar{
    //         width: 0;
    //         // background-color: azure;
    //     }
    //     &::-webkit-scrollbar-track{
    //         overflow: hidden;
    //     }
    //       .newsgroup{
    //         width: 1000px;
    //         display: flex;
    //     }
    //     .news{
    //         width: 100px;
    //         height: 100px;
    //         background-color: black;
    //         margin: 10px;
            
    //     }
    //     
    // }
}