@keyframes cloud {
  15% {
    left: 15px;
    top: 5px;
  }
  30% {
    left: 25px;
    top: -5px;
  }
  45% {
    left: 35px;
    top: 5px;
  }
  60% {
    right: 25px;
    top: -5px;
  }
  75% {
    right: 15px;
    top: 5px;
  }
  90% {
    right: 5px;
    top: -5px;
  }
}

@keyframes sun {
  15% {
    top: 10px;
  }
  30% {
    top: 15px;
  }
  45% {
    top: 20px;
  }
  60% {
    top: 15px;
  }
  75% {
    top: 10px;
  }
  90% {
    top: 5px;
  }
}
section.loginPage {
  position: relative;
  width: 100%;
  height: 50vw;
  display: flex;
  background-color: $bgColorLightgray;
  justify-content: center;
  align-items: center;
  .active {
    color: $primaryColorGreen;
    background-color: $bgColorSecGray;
    border: transparent;
  }
  .forgetPsw {
    position: absolute;
    bottom: 0;
    right: 35vw;
    height: 120px;
    width: 250px;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      text-align: center;
      line-height: 1.15rem;
      letter-spacing: 2px;
      left: 9px;
      position: absolute;
      top: 9px;
      color: $mainTextColor;
      &:hover {
        color: $primaryColorYellow;
      }
    }
  }
  .cloud {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    left: 5px;
    animation: cloud 12s linear infinite;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .cloudSun {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    right: 5px;
    animation: sun 5s linear infinite;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .loginSingupArea {
    position: absolute;
    top: 6vw;
    width: 50vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .loginBtnGroup {
      width: 100%;
      height: 20%;
      display: flex;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .loginBtn {
        flex: 1;
        border: transparent;
        z-index: 3;
        background-color: transparent;
        cursor: pointer;
      }
      .signupBtn {
        cursor: pointer;
        flex: 1;
        background-color: transparent;
        border: transparent;
        z-index: 3;
      }
    }
    .myLog {
      height: 80%;
      position: relative;
      img.loginSigninBg {
        width: 100%;
        height: 100%;
        position: absolute;
      }

      .loginInputGroup {
        height: 80%;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 3vw;
        z-index: 20;
        .acc {
          display: flex;
          align-items: center;
          width: 50%;
          z-index: 20;
          .img {
            width: 25px;
            height: 25px;
            margin: 0 5px;
            img {
              width: 100%;
              height: 100%;
            }
          }

          input {
            height: 25px;
            width: 100%;
            background-color: $inputColor;
            &::placeholder {
              padding: 5px;
              color: $inputTextColor;
            }
          }
        }
        .psw {
          display: flex;
          align-items: center;
          width: 50%;
          z-index: 20;
          .img {
            width: 25px;
            height: 25px;
            margin: 0 5px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          input {
            height: 25px;
            width: 100%;
            background-color: $inputColor;
            &::placeholder {
              padding: 5px;
              color: $inputTextColor;
            }
          }
        }
        .defaultBtn {
          position: relative;
          border: 2px solid #000;
          box-shadow: 2px 2px 0 #000;
          width: 130px;
          height: 35px;
          text-align: center;
          cursor: pointer;
          &:hover {
            background-color: $primaryColorYellow;
          }
          img {
            position: absolute;
            width: 8px;
            height: 8px;
            bottom: 3px;
            right: 3px;
          }
        }
      }
    }
  }
}
