@mixin defaultMemSize() {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vw;
  @media (width <= 768px) {
    height: 105vw;
  }
  @media (width <= 450px) {
    height: 190vw;
  }
}

@mixin defaultMemH2() {
  color: $primaryColorGreen;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.qrCodeLb {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  @media (width <= 768px) {
    // align-items: flex-start;
  }
}
.memPage {
  position: relative;
  background-color: $bgColorLightgray;

  .memSidebar {
    display: flex;
    gap: 10px;
    align-items: center;
    position: fixed;
    top: 10vw;
    left: 0;
    z-index: 20;
    @media (width <= 768px) {
      position: static;
    }
    .active {
      color: $primaryColorGreen;
    }
    .chameleon {
      position: absolute;
      width: 200px;
      height: 60px;
      top: -45px;
      left: 50px;
      @media (width <= 768px) {
        display: none;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
      @media (width <= 768px) {
        width: 100%;
        flex-direction: row;
        justify-content: center;
      }
      li {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 19px;
        width: 175px;
        height: 41px;
        background-color: $bgColorSecGray;
        color: $mainTextColor;
        @media (width <= 768px) {
          gap: 5px;
          margin-top: 20px;
          width: 100px;
          height: 45px;
        }
        &:hover {
          color: $primaryColorGreen;
        }
        .sidebarText {
          font-size: $pcFontH4;
          font-family: $font;
          font-weight: 500;
          line-height: 150%;
          @media (width <= 768px) {
            font-size: 16px;
          }
        }
        img {
          width: 20px;
          height: 20px;
          @media (width <= 768px) {
            display: none;
          }
        }
      }
    }
  }
  //會員資訊
  .infoArea {
    @include defaultMemSize();
    .innerInfo {
      margin-top: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 60%;
      height: auto;
      @media (width <= 768px) {
        width: 100%;
      }
      h2 {
        @include defaultMemH2();
      }
      .memInfo {
        width: 100%;
        display: flex;
        @media (width <= 768px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          row-gap: 20px;
        }
        .picArea {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50%;
          @media (width <= 768px) {
            height: 40%;
          }
          input {
            top: 100px;
            position: absolute;
            opacity: 0;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            cursor: pointer;
            @media (width <= 768px) {
              width: 90px;
              height: 90px;
              top: 40px;
            }
            @media (width <= 450px) {
              top: 67px;
            }
          }
          .memPicText {
            color: $mainTextColor;
          }
          .memPic {
            top: 100px;
            position: absolute;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            @media (width <= 768px) {
              width: 90px;
              height: 90px;
              top: 40px;
            }
            @media (width <= 450px) {
              top: 67px;
            }
          }
          .picFrame {
            width: 300px;
            height: 300px;
            @media (width <= 768px) {
              width: 200px;
              height: 200px;
            }
          }
        }
        .info {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 50%;
          color: $mainTextColor;
          @media (width <= 768px) {
            height: 60%;
          }
          .infoInput {
            background-color: $inputColor;
            color: $mainTextColor;
            margin-left: 5px;
            height: 35px;
            width: 250px;
            padding: 5px;
            @media (width <= 768px) {
              width: 205px;
              height: 30px;
            }
          }
          .infoBtn {
            position: absolute;
            right: 0;
            bottom: -40px;
            @media (width <= 768px) {
              bottom: -50px;
              right: -20px;
            }
          }
        }
      }
    }
    .camel {
      position: absolute;
      bottom: 0;
      left: 20vw;
      height: 120px;
      width: 250px;
      @media (width <= 768px) {
        width: 180px;
        height: 80px;
        left: 12vw;
      }
    }
  }

  //購票紀錄
  .ticketArea {
    @include defaultMemSize();
    .innerTicket {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 60%;
      @media (width <= 768px) {
        width: 100%;
      }
      h2 {
        @include defaultMemH2();
      }
      .buyHistory {
        overflow: auto;
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;
        height: 90%;
        cursor: pointer;
        &::-webkit-scrollbar {
          height: 5px;
          width: 5px;
        }
        &::-webkit-scrollbar-track {
          overflow: hidden;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #ccc;
          border-radius: 20px;
          width: 5px;
        }
        @media (width <= 768px) {
          width: 95%;
        }
        .buyList {
          margin: 5px 0;
          width: 60%;
          height: 200px;
          display: flex;
          border-bottom: 2px solid $mainTextColor;
          @media (width <= 768px) {
            width: 100%;
          }
          .listTitle {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $mainTextColor;
            @media (width <= 768px) {
              width: 80%;
            }
          }
          .listInfo {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            color: $mainTextColor;
            gap: 12px;
            @media (width <= 768px) {
              gap: 5px;
              width: 80%;
              align-items: flex-start;
              margin-left: 20px;
            }
            .idColor {
              cursor: pointer;
              color: $secColorblue;
            }
          }
        }
      }
    }
    .ticketCrocodile {
      position: absolute;
      bottom: 0px;
      right: 15vw;
      height: 50px;
      width: 200px;
    }
  }

  //優惠票券
  .couponArea {
    @include defaultMemSize();
    .innerCoupon {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      h2 {
        @include defaultMemH2();
      }
      .couponGroup {
        width: 80%;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        justify-content: center;
        align-items: center;
        @media (width <= 768px) {
          flex-direction: column;
          width: 100%;
        }
        .coupon {
          width: 22vw;
          flex-direction: column;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 220px;
          @media (width <= 768px) {
            height: 150px;
            flex-direction: row;
            width: 100%;
          }
          img {
            width: 100%;
            height: 100%;
            @media (width <= 768px) {
              width: 70%;
              margin-right: 10px;
            }
          }
          .couponBtn {
            position: relative;
            border: 2px solid $mainTextColor;
            box-shadow: 4px 4px 0 $mainTextColor;
            width: 120px;
            height: 35px;
            text-align: center;
            cursor: pointer;
            background-color: $bgColorWhite;
            color: $mainTextColor;
            @media (width <= 768px) {
              width: 100px;
              height: 30px;
            }
            &:hover {
              background-color: $primaryColorYellow;
            }
            img {
              position: absolute;
              width: 8px;
              height: 8px;
              bottom: 0.3vw;
              right: 0.3vw;
              @media (width <= 768px) {
                bottom: 2px;
                right: -6px;
              }
            }
          }
        }
      }
    }
    .elephant {
      position: absolute;
      bottom: 0;
      right: 18vw;
      height: 90px;
      width: 280px;
      @media (width <= 768px) {
        height: 90px;
        width: 250px;
      }
    }
  }

  //會員評論
  .commentArea {
    @include defaultMemSize();
    .innerComment {
      margin: 20px 0 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      &::-webkit-scrollbar {
        width: 0;
      }
      &::-webkit-scrollbar-track {
        overflow: hidden;
      }
      @media (width <= 768px) {
      }
      h2 {
        @include defaultMemH2();
      }
      .commentGroup {
        height: auto;
        width: 70%;
        gap: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: scroll;
        &::-webkit-scrollbar {
          height: 5px;
          width: 5px;
        }
        &::-webkit-scrollbar-track {
          overflow: hidden;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #ccc;
          border-radius: 20px;
          width: 5px;
        }
        @media (width <= 768px) {
          width: 90%;
        }
        .comment {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2vw;
          width: 70%;
          height: 18vw;
          @media (width <= 768px) {
            height: 45vw;
            width: 100%;
          }
          .commentBg {
            position: absolute;
            width: 100%;
            height: 100%;
          }
          .commentPic {
            z-index: 1;
            width: 33%;
            height: 70%;
            @media (width <= 768px) {
              height: 60%;
            }
          }
          .commentArea {
            display: flex;
            width: 50%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            row-gap: 3.5vw;
            z-index: 3;
            @media (width <= 768px) {
            }
            .commentTitle {
              color: $mainTextColor;
            }
            .commentText {
              resize: none;
              line-height: 2vw;
              color: $mainTextColor;
              font-size: $pcFontH4;
              font-family: $font;
              font-weight: 500;
              line-height: 150%;
              background-color: #d9c098;
              @media (width <= 768px) {
                line-height: 5vw;
                font-size: 12px;
              }
            }
          }
          .greenClose {
            position: absolute;
            z-index: 20;
            right: 3.2vw;
            top: 2.7vw;
            height: 2vw;
            width: 2vw;
            cursor: pointer;
          }
          .commentBtn {
            position: absolute;
            bottom: -4vw;
            right: 2vw;
            @media (width <= 768px) {
              bottom: -10vw;
            }
            &:hover {
              background-color: $primaryColorYellow;
            }
          }
        }
      }
    }
    .flamingo {
      position: absolute;
      bottom: 0px;
      right: 15vw;
      height: 120px;
      width: 100px;
    }
  }
}
