
.news_banner, .newsDetail_banner{
    img{
        width: 100%;
        vertical-align: middle;
    }   
}
.news_section, .news_detail_section{
    max-width: 1920px;
    a{
        color: $mainTextColor;
    }
    @media screen and (max-width: 768px) {
        .section{
            max-width: 768px;
        }
    }
}

.news_overview{
    max-width: 74%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2vw;
    .news_select{
        display: none;
    }
    .news_pc_filter{
        display: block;
        margin-right: 2.7vw;
    }
}
@media screen and (max-width: 768px) {
    .news_overview{
        max-width: 90%;
        flex-direction: column;
        padding-top: 0;
        .news_select{
            display: block;
            margin-top: 6.25vw;
        }    
        .news_pc_filter{
            display: none;
        }
    }
}

ul.news_pc_filter li{
    margin-bottom: 0.8vw;
}

.news_section{
    @media screen and (max-width: 768px) {
        padding-top: 3vw;
        width: 100%;
    }
}
.news_line{
    width: 60vw;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.news_info{
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1vw 0;
    padding-left: 1vw;
    img{
        width: 11vw;
        vertical-align: middle;
    }
    .news-text{
        padding-left: 1.3vw;
        .news_tag_time{
            padding-bottom: 0.8vw;
            .time{
                padding-right: 1.6vw;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .news_info{
        display: flex;
        flex-direction: column;
        align-items: normal;
        padding: 3.6vw 0;
        padding-left: 1vw;
        img{
            width: 100%;
            vertical-align: middle;
        }
        .news-text{
            padding: 0 4.6vw;
            padding-top : 3.6vw;
            font-size: $phFontH3;
            font-family: $font;
            font-weight: 700;
            .news_tag_time{
                padding-bottom: 3vw;
                display: flex;
                justify-content: space-between;
                font-size: $phFontH4;
                font-family: $font;
                font-weight: 500;
            }
        }

    }

}

.news_pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 4.5vw;
    padding-bottom: 7.5vw;
    li{ 
        padding: 0 0.5vw;
        a{    
            color: $mainTextColor;
            padding: 0 0.8vw;
        }
    }
}
@media screen and (max-width:786px){
    .news_pagination{

        padding-top: 5.8vw;
        padding-bottom: 15vw;
        li{ 
            padding: 0 0.5vw;
            a{
                font-size: $phFontH4;
                font-family: $font;
                font-weight: 500;

                color: $mainTextColor;
                padding: 0 0.8vw;
            }
        }
    }
}


.news_detail{
    max-width: 74%;
    margin: auto;
    @media screen and (max-width: 768px) {
        max-width: 90%;
    }
    img{
        vertical-align: middle;
        width: 100%;
    }
}
.news_detail_info{
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    color: $mainTextColor;

    .news_detail_tag_time{
        display: flex;
        align-items: center;
        .time{
            padding-right: 1.6vw;
        }
        .newsFrame{
            display: inline-block;
        }
        @media screen and (max-width: 768px) {
            justify-content: space-between;
        }
    }
}
.news_detail_content{
    padding: 0 10vw;
    padding-bottom: 9vw;
    .news_detail_pic{
        padding:  3.75vw 0;
        .news_detail_border{
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(/src/assets/images/news/news_detail_border.png);
            background-repeat: no-repeat;
            background-size: contain;

            img{
                width: 100%;
                padding: 0.5vw 1vw 1vw .5vw;
            }
        }
    }
    p{
        color:$mainTextColor;
        line-height: 150%;
    }
    
}

@media screen and (max-width: 768px) {
    .news_detail_content{
        padding: 0 0vw;
        padding-bottom: 9vw;
        .news_detail_pic{
            .news_detail_border{
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: url(/src/assets/images/news/news_detail_border.png);
                background-repeat: no-repeat;
                background-size: contain;
    
                img{
                    width: 100%;
                    padding: 0.8vw 1.6vw 1.6vw 0.8vw;
                }
            }
        }
        p{
            color:$mainTextColor;
            line-height: 150%;
        }
        
    }
}


