@use 'sass:math';
//位置 px換算%數
@mixin icon-top-location($location) {
    top: math.div(math.div($location, 1px), 923) * 100 * 1%;
}
@mixin icon-left-location($location) {
    left: math.div(math.div($location, 1px), 1920) * 100 * 1%;
}
@mixin icon-right-location($location) {
    right: math.div(math.div($location, 1px), 1920) * 100 * 1%;
}
//高度寬度px換算%數
@mixin mapicon-px-percentage-size($wsize,$hsize){  
    width: math.div(math.div($wsize, 1px), 1920) * 100 * 1%;
    height: math.div(math.div($hsize, 1px), 923) * 100 * 1%; 
}
//雲朵動畫函式
$time:10s;
@mixin pk_cloud1($top, $left, $pk_animation_name) {
    @keyframes #{$pk_animation_name} {
        0% {
            top: $top;
            left: $left;
        }
        25% {
            top: $top - 0.5;
            left: $left ;
        }       
        50% {
            top: $top ;
            left: $left ;
        }
        75% {
            top: $top + 0.5;
            left: $left ;
        }       
        100% {
            top: $top;
            left: $left;
        }
    }
}
@mixin pk_cloud2($top, $right, $pk_animation_name) {
    @keyframes #{$pk_animation_name} {
        0% {
            top: $top;
            right: $right;
        }
        25% {
            top: $top + 0.76;
            right: $right ;
        }       
        50% {
            top: $top ;
            right: $right ;
        }
        75% {
            top: $top+ 0.76;
            right: $right ;
        }       
        100% {
            top: $top;
            right: $right;
        }
    }
}


.pk_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pk_map{
        width: 100%;
        position: relative;
        .pk_map_bg{
            width: 100%;
            vertical-align: middle;
        }
        .pk_animal_icon{
            .pk_animal_default{
                position: absolute;
                @include mapicon-px-percentage-size(75px,75px);
                transition: 0.3s;
                img{
                    width: 100%;
                }
                &:hover{
                    transition: 0.3s;
                    transform: scale(1.3);
                    cursor: pointer;
                    .pk_animal_icon_dialog_content {
                        display: block; 
                    }
                }
                .pk_animal_icon_dialog_content{
                    display: none;
                    position:absolute;
                    top: -110%;
                    .pk_animal_icon_dialog{
                        width: 140%;
                        position: relative;
                        bottom: 5%;
                        right: 10%
                    }
                    .pk_animal_icon_dialog_content_text{
                        width: 200%;
                        height: 140%;
                        position: absolute;
                        top: 14%;
                        right: -58%;
                        color: #FFFFFF;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 2%;
                        font-weight: bold;
                        p{
                            @media (max-width:1280px) and (min-width:768px) {
                                font-size: 10px;
                            }
                            @media (min-width:1440px) {
                                font-size: 12px;
                            }  
                            @media (min-width:1600px) {
                                font-size: 12.8px;
                            }  
                        }
                    }
                }
            }
            .pk_animal_icon1{
                @include icon-top-location(170px);
                @include icon-left-location(430px);
            }
            .pk_animal_icon2{
                @include icon-top-location(150px);
                @include icon-left-location(530px);
            }
            .pk_animal_icon3{
                @include icon-top-location(180px);
                @include icon-left-location(620px);
            }
            .pk_animal_icon4{
                @include icon-top-location(200px);
                @include icon-left-location(750px);
            }
            .pk_animal_icon5{
                @include icon-top-location(330px);
                @include icon-left-location(760px);
            }
            .pk_animal_icon6{
                @include icon-top-location(280px);
                @include icon-left-location(680px);
            }
            .pk_animal_icon7{
                @include icon-top-location(260px);
                @include icon-left-location(520px);
            }
            .pk_animal_icon8{
                @include icon-top-location(260px);
                @include icon-left-location(410px);
            }
            .pk_animal_icon9{
                @include icon-top-location(200px);
                @include icon-right-location(800px);
            }
            .pk_animal_icon10{
                @include icon-top-location(140px);
                @include icon-right-location(750px);
            }
            .pk_animal_icon11{
                @include icon-top-location(230px);
                @include icon-right-location(680px);
            }
            .pk_animal_icon12{
                @include icon-top-location(200px);
                @include icon-right-location(580px);
            }
            .pk_animal_icon13{
                @include icon-top-location(160px);
                @include icon-right-location(480px);
            }
            .pk_animal_icon14{
                @include icon-top-location(280px);
                @include icon-right-location(560px);
            }
            .pk_animal_icon15{
                @include icon-top-location(300px);
                @include icon-right-location(690px);
            }
            .pk_animal_icon16{
                @include icon-top-location(310px);
                @include icon-right-location(780px);
            }
            .pk_animal_icon17{
                @include icon-top-location(490px);
                @include icon-right-location(650px);
            }
            .pk_animal_icon18{
                @include icon-top-location(430px);
                @include icon-right-location(580px);
            }
            .pk_animal_icon19{
                @include icon-top-location(420px);
                @include icon-right-location(510px);
            }
            .pk_animal_icon20{
                @include icon-top-location(380px);
                @include icon-right-location(440px);
            }
            .pk_animal_icon21{
                @include icon-top-location(420px);
                @include icon-right-location(370px);
            }
            .pk_animal_icon22{
                @include icon-top-location(470px);
                @include icon-right-location(450px);
            }
            .pk_animal_icon23{
                @include icon-top-location(500px);
                @include icon-right-location(550px);
            }
            .pk_animal_icon24{
                @include icon-top-location(640px);
                @include icon-right-location(790px);
            }
            .pk_animal_icon25{
                @include icon-top-location(580px);
                @include icon-right-location(730px);
            }
            .pk_animal_icon26{
                @include icon-top-location(570px);
                @include icon-right-location(580px);
            }
            .pk_animal_icon27{
                @include icon-top-location(630px);
                @include icon-right-location(640px);
            }
            .pk_animal_icon28{
                @include icon-top-location(730px);
                @include icon-right-location(530px);
            }
            .pk_animal_icon29{
                @include icon-top-location(770px);
                @include icon-right-location(600px);
            }
            .pk_animal_icon30{
                @include icon-top-location(700px);
                @include icon-right-location(660px);
            }
            .pk_animal_icon31{
                @include icon-top-location(650px);
                @include icon-left-location(450px);
            }
            .pk_animal_icon32{
                @include icon-top-location(700px);
                @include icon-left-location(580px);
            }
            .pk_animal_icon33{
                @include icon-top-location(560px);
                @include icon-left-location(530px);
            }
            .pk_animal_icon34{
                @include icon-top-location(590px);
                @include icon-left-location(630px);
            }
            .pk_animal_icon35{
                @include icon-top-location(550px);
                @include icon-left-location(740px);
            }
            .pk_animal_icon36{
                @include icon-top-location(510px);
                @include icon-left-location(830px);
            }
            .pk_animal_icon37{
                @include icon-top-location(610px);
                @include icon-left-location(940px);
            }
            .pk_animal_icon38{
                @include icon-top-location(620px);
                @include icon-left-location(840px);
            }
        } 
        .pk_Store_icon{
            .pk_Store_default{
                position: absolute;
                transition: 0.3s;
                @include mapicon-px-percentage-size(75px,75px);
                img{
                    width: 100%;
                }
                &:hover{
                    transition: 0.3s;
                    transform: scale(1.3);
                    z-index: 999;
                    cursor: pointer;
                    .pk_Store_icon_dialog_content{
                        display: block;
                    }
                }
                .pk_Store_icon_dialog_content{
                    display: none;
                    position:absolute;
                    top: -65%;
                    .pk_Store_icon_dialog_content_text{
                        position: absolute;
                        top: 25%;
                        left: 10%;
                        color: #FFFFFF;
                        font-weight: bold;
                        p{
                            @media (max-width:1280px) and (min-width:768px) {
                                font-size: 10px;
                            }
                            @media (min-width:1440px) {
                                font-size: 12px;
                            }  
                            @media (min-width:1600px) {
                                font-size: 15px;
                            }  
                        }
                    }

                }
            }
            .pk_Store_icon_VC1{
                @include icon-top-location(490px);
                @include icon-left-location(440px);
            }
            .pk_Store_icon_VC2{
                @include icon-top-location(340px);
                @include icon-right-location(620px);
            }

            .pk_Store_icon_WC1{
                @include icon-top-location(550px);
                @include icon-left-location(450px);
            }
            .pk_Store_icon_WC2{
                @include icon-top-location(320px);
                @include icon-left-location(310px);
            }
            .pk_Store_icon_WC3{
                @include icon-top-location(420px);
                @include icon-right-location(730px);
            }
            .pk_Store_icon_WC4{
                @include icon-top-location(510px);
                @include icon-right-location(470px);
            }
            .pk_Store_icon_WC5{
                @include icon-top-location(730px);
                @include icon-right-location(730px);
            }
            
            .pk_Store_icon_RC1{
                @include icon-top-location(520px);
                @include icon-left-location(360px);
            }
            .pk_Store_icon_RC2{
                @include icon-top-location(290px);
                @include icon-left-location(380px);
            }
            .pk_Store_icon_RC3{
                @include icon-top-location(345px);
                @include icon-right-location(700px);
            }
            .pk_Store_icon_RC4{
                @include icon-top-location(520px);
                @include icon-right-location(400px);
            }
            .pk_Store_icon_RC5{
                @include icon-top-location(750px);
                @include icon-right-location(800px);
            }
        }
    }
    .pk_Animal_details{
        position: absolute;
        z-index: 998;
        top: 30%;
        width: 16.8%;
        height: 49.8%;
        background-image: url("/src/assets/images/park/pk_Animal_details_bg.png");
        background-position:center ;
        background-repeat: no-repeat;
        background-size:100% auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5%;
        .pk_Animal_details_content_align{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25%;
            h1{
                font-size: 32px;
                color: $primaryColorGreen;
                @media (max-width:1280px)  {
                    font-size: 24px;
                }
                @media (min-width:1440px) {
                    font-size: 28px;
                }  
                @media (min-width:1600px) {
                    font-size: 32px;
                } 
            }
            .pk_Animal_details_closure_icon{
                width: 18.75%;
                img{
                    width: 100%; 
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .pk_Animal_details_img{
            width: 65.9%;
            position: relative;
            img{
                width: 100%;
            }
            .pk_Animal_details_frame{
                position: absolute;
                top: 0;
            }
        }
        .pk_Animal_details-text{  
            p{
                font-size: 24px;
                @media (max-width:1280px)  {
                    font-size: 18px;
                }
                @media (min-width:1440px) {
                    font-size: 20px;
                }  
                @media (min-width:1600px) {
                    font-size: 22px;
                } 
            }
        }
        button{
            width: 56.2%;
            height: 10.9%;

        }
    }
    .pk_content_bg{
        width: 100%;
        background-color: #9BD3ED;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        .pk_Tickets{
            width: 74%; 
            height: 20.6%;
            margin-top: 12%;
            position: relative;
            z-index: 5;
            .pk_Tickets_items{
                display: flex;
                gap: 1.45%;
                .pk_Tickets_item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 18.37%;
                    position: relative;
                    :hover{
                        cursor: pointer;
                    }
                    .pk_Tickets_item_top{
                        width: 100%;
                        position: relative;
                        z-index: 10;
                    }
                    .pk_Tickets_item_mid{
                        width: 97.3%;
                        position: absolute;
                        z-index: 10;
                        top: 26%;
                    }
                    .pk_Tickets_item_animal{
                        width: 60%;
                        text-align: center;
                        position: absolute;
                        top: 8%;
                        z-index: 5;
                        img{
                            width: 100%;
                        }
                    }
                    .pk_Tickets_item_bottom{
                        width: 100%;
                        position: relative;
                        z-index: 9;
                    }
                    .pk_Tickets_item_text{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        z-index: 11;
                        bottom: 7.42%;
                        gap: 2%;
                        color: $mainTextColor;
                        h1{
                            @media (max-width:1280px)  {
                                font-size: 24px;
                            }
                            @media (min-width:1440px) {
                                font-size: 28px;
                            }  
                            @media (min-width:1600px) {
                                font-size: 32px;
                            }  
                        }
                        p{
                            @media (max-width:1280px)  {
                                font-size: 16px;
                            }
                            @media (min-width:1440px) {
                                font-size: 18px;
                            }  
                            @media (min-width:1600px) {
                                font-size: 20px;
                            } 
                        }
                    }
                    .pk_Tickets_item_location{
                        bottom: 17.3%;
                    }
                    .pk_Tickets_item_hide{
                        display: none;
                    }
                }
            }
        }
        .pk_Origin{
            width: 100%;
            height: 100%;
            margin: 2% 0 5%;
            position: relative;
            z-index: 5;
            img{
                width: 100%;
            }
            .pk_Origin_text_bg{
                position: absolute;
                top: 0;
                right: 0;
                width: 23.4%;
                height: 99.8%;
                background-color: #231F20BB;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    width: 79.7%;
                    color: $bgColorLightgray;
                    line-height: 220%;
                    letter-spacing: 1px;
                    @media (max-width:1280px)  {
                        font-size: 16px;
                    }
                    @media (min-width:1440px) {
                        font-size: 18px;
                    }  
                    @media (min-width:1600px) {
                        font-size: 20px;
                    } 
                }
            }
        }
        .pk_information{
            width: 74%;
            display: flex;
            gap: 10px;
            .pk_information_bulletin_board{
                width: 60.1%;
                position: relative;
                z-index: 10;
                img{
                    width: 100%;
                }
                ul{
                    position: absolute;
                    width: 80%;
                    top: 15%;
                    right: 9%;
                    color: $bgColorLightgray;
                    line-height: 250%;
                    letter-spacing: 1px;
                    @media (max-width:1800px) {
                        font-size: 18px;
                        line-height: 200%;
                    }
                    @media (max-width:1550px) {
                        font-size: 16px;
                        line-height: 200%;
                    }
                    @media (max-width:1280px) {
                        font-size: 14px;
                        line-height: 190%;
                    }
                }
            }
            .pk_information_Billboard{
                width: 40.2%;
                position: relative;
                z-index: 10;
                img{
                    width: 100%;
                }
                .pk_information_img_monkey{
                    width: 45.5%;
                    position: absolute;
                    bottom: 0;
                    left: -3%;
                }
                .pk_information_img_orangutan{
                    width: 41.7%;
                    position: absolute;
                    bottom: 0;
                    right: 5%;
                }
            }
        }
        .pk_content_bg_tree{
            width: 100%;
            position: absolute;
            bottom: -1%;
            img{
                width: 100%;
            }
        }
        .pk_content_bg_cloud{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 3;
            .pk_content_bg_cloud_default{
                width: 30%;
                position: absolute;
                bottom: 0;
            }
            .pk_content_bg_cloud1{
                @include pk_cloud1(4.82%,38%,'cloud1-animation');
                animation: cloud1-animation $time infinite;
            }
            .pk_content_bg_cloud2{
                @include pk_cloud1(66.7%,-7.81%,'cloud2-animation');
                animation: cloud2-animation $time+1 infinite;
            }
            .pk_content_bg_cloud3{
                @include pk_cloud1(25%,0.52%,'cloud3-animation');
                animation: cloud3-animation $time+4 infinite;
            }
            .pk_content_bg_cloud4{
                @include pk_cloud1(68%,83.3%,'cloud4-animation');
                animation: cloud4-animation $time+3 infinite;
            }
            .pk_content_bg_cloud5{
                @include pk_cloud2(18.1%,-15.6%,'cloud5-animation');
                animation: cloud5-animation $time+4 infinite;
            }
            .pk_content_bg_cloud6{
                @include pk_cloud2(46.1%,34%,'cloud6-animation');
                animation: cloud6-animation $time+1 infinite;
            }
        }
        .pk_content_bg_eagle{
            position: absolute;
            top: 0;
            left: 18.2%;
            width: 15.1%;
            height: 8.3%;
            img{
                width: 100%;
            }
        }
    }
}