.school {
  background-image: url("/src/assets/images/school/banner.svg");
  background-color: #fff;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $mainTextColor#000;
  .school_tree img {
    position: absolute;
    bottom: 0;
  }
  .school_tree {
    .tree_3 img {
      width: 11vw;
      left: 0;
      bottom: -2px;
    }
    .tree_5 img {
      width: 17vw;
      height: auto;
      left: 6%;
      bottom: -2px;
    }
    .grasses_6 img {
      width: 11vw;
      height: auto;
      left: 24%;
    }
    .grasses_7 img {
      width: 10vw;
      height: auto;
      right: 22%;
    }
    .tree_8 img {
      width: 12vw;
      height: auto;
      right: 12%;
      bottom: -2px;
    }
    .tree_1 img {
      width: 12vw;
      height: auto;
      right: 0%;
    }
    .teacher img {
      width: 8vw;
      height: auto;
      right: 30%;
      bottom: -1%;
      z-index: 99;
    }
  }
  .school_content_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .school_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 20%;
      gap: 5%;
      .number_8 img {
        width: 6vw;
        height: auto;
      }
      .number_n img {
        width: 6vw;
        height: auto;
      }
      .number_i img {
        width: 5vw;
        height: auto;
      }
      .number_m img {
        width: 7.8vw;
        height: auto;
      }
      .number_a img {
        width: 6.5vw;
        height: auto;
      }
      .number_l img {
        width: 6.5vw;
        height: auto;
      }
    }
    .school_name {
      color: #fff;
      letter-spacing: 20px;
      margin: 10% 0;
      font-weight: 500;
    }
    .school_button {
      color: $mainTextColor;
    }
  }
  .school_content_2 {
    text-align: center;
    .title {
      color: $primaryColorYellow;
      text-align: center;
      display: flex;
      margin-bottom: 30px;
    }
    .rule {
      color: #fff;
      text-align: center;
      line-height: 1.5;
      padding: 44px 0;
    }
  }
}

// 題目
.school_content_2 .school_content_2 .question {
  display: flex;
  flex-direction: column;
}

.option_all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
  color: $bgColorWhite;

  .option-image-container {
    padding: 40px 0;
  }
}

// .correct_answer {
// margin: 10px 0;
// }

.explanation {
  margin: 30px 0;
}

.option input {
  display: none;
}

.option-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/images/school/img_border.svg");
  // background-color: $mainTextColor; /* 使用你的變量或具體的顏色值 */
  width: 250px;
  height: 250px;
  margin: 40px 0;
}

.option-image-container img {
  width: 220px;
  height: 220px;
  object-fit: contain; /* 使圖片等比例縮放並填滿容器 */
}

.option_input {
  background-image: url("/src/assets/images/school/btn_option.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 35px 86px;
  width: 100%;
  color: $bgColorWhite;
  margin: 20px 0;
}
.correct_answer_box {
  background-image: url("/src/assets/images/school/school_lightbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 110px 86px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.result {
  gap: 10px;
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.lightbox button {
  margin-top: 10px;
}
.eat_coin {
  display: flex;
  position: absolute;
  bottom: 0;
}
.eat_coin .coin img {
  width: 50%;
}
.chimpanzees img {
  position: absolute;
  left: 1%;
  transform: scaleX(-1);
}
