.school {
  background-image: url("/src/assets/images/school/banner.svg");
  background-color: #fff;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .teacher img {
    position: absolute;
    width: 8vw;
    height: auto;
    right: 30%;
    bottom: -1%;
    z-index: 99;
  }

  .school_tree img {
    position: absolute;
    bottom: 0;
  }
  .school_tree {
    .tree_3 img {
      width: 10vw;
      left: 0;
      bottom: -2px;
    }
    .tree_5 img {
      width: 15vw;
      height: auto;
      left: 6%;
      bottom: 0%;
    }
    .grasses_6 img {
      width: 10vw;
      height: auto;
      left: 24%;
    }
    .grasses_7 img {
      width: 7vw;
      height: auto;
      right: 22%;
    }
    .tree_8 img {
      width: 10vw;
      height: auto;
      right: 12%;
      bottom: -2px;
    }
    .tree_1 img {
      width: 10vw;
      height: auto;
      right: 0%;
    }
  }
  .school_content_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .school_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 20%;
      gap: 5%;
      .number_8 img {
        width: 6vw;
        height: auto;
      }
      .number_n img {
        width: 6vw;
        height: auto;
      }
      .number_i img {
        width: 5vw;
        height: auto;
      }
      .number_m img {
        width: 7.8vw;
        height: auto;
      }
      .number_a img {
        width: 6.5vw;
        height: auto;
      }
      .number_l img {
        width: 6.5vw;
        height: auto;
      }
    }
    .school_name {
      color: #fff;
      letter-spacing: 20px;
      margin: 10% 0;
      font-weight: 500;
    }

    .school_button {
      color: $mainTextColor;
    }
  }
  .school_content_2 {
    text-align: center;
    .title {
      color: $primaryColorYellow;
      text-align: center;
    }
    .rule {
      color: #fff;
      text-align: center;

      padding: 44px 0;
    }
  }
}

// 題目
.school_content_2 .school_content_2 .question {
  display: flex;
  flex-direction: column;
}

.option_all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4%;
  color: $bgColorWhite;
  margin: auto;
  padding: auto;
}

// .correct_answer {
// margin: 10px 0;
// }

// .explanation {
//   margin: 0 10%;
// }

.option input {
  display: none;
}

.option-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("/src/assets/images/school/img_border.svg");
  // background-color: $mainTextColor; /* 使用你的變量或具體的顏色值 */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 14vw;
  height: auto;
  margin: 25% 0;
  padding: 8% 0;
}

.option-image-container img {
  width: 12vw;
  height: auto;
  object-fit: contain; /* 使圖片等比例縮放並填滿容器 */
}

.option_input {
  // background-image: url("/src/assets/images/school/btn_option.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10% 28%; /* 使用百分比值 */
  white-space: nowrap;
  width: 100%;
  background-color: $mainTextColor;
  color: $bgColorWhite;
}
.correct_answer_box {
  background-image: url("/src/assets/images/school/school_lightbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 110px 86px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.option_input:hover {
  /* 在這裡指定 hover 時的樣式 */
  background-color: $primaryColorYellow; /* 例如改變背景顏色 */
  cursor: pointer; /* 讓滑鼠變成手指指示可點擊 */
  color: $mainTextColor;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 70vw;
}

.lightbox button {
  margin-top: 10px;
}
.eat_coin {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 16vw;
  gap: 12%;
  z-index: 5;
}
.eat_coin .coin {
  img {
    width: 3vw;
  }
}
.chimpanzees img {
  position: absolute;

  transform: scaleX(-1);
  bottom: 0;
  left: -5vw;
  width: 7vw;
  z-index: 12;
}
.result_all {
  margin: 6% 0;
  .result {
    // line-height: 150%;
  }
}

@media screen and (width < 770px) {
  .option-image-container {
    width: 20vw;
    height: auto;
    // margin: 25% 0;
    // padding: 8% 0;
    z-index: 50;
  }

  .option-image-container img {
    width: 17vw;
  }
  .option_all {
    gap: 5%;
  }
  .option_input {
    padding: 12% 24%;
    white-space: nowrap;
  }
}
@media screen and (width < 480px) {
  .option-image-container {
    width: 32vw;
    margin: 20% 0;
  }

  .option-image-container img {
    width: 28vw;
  }
  .option_all {
    flex-wrap: wrap;

    gap: 10%;
  }
  .option_input {
    padding: 12% 24%;
  }
}
