.tick{
    background-color: #F5EFEB;
    color: $mainTextColor;
    font-family: $font;
    padding-top: 44px;
    line-height: 1.5;
    padding-bottom: 30px;
    text-align: justify;
    min-height: 820px;

    img{
        vertical-align: bottom;
        outline: 1px solid red;
    }
    h2{
        font-size: $pcFontH3;
        color: $primaryColorGreen;
        font-weight: 700;
    }
    p, li, button{
        font-size: $pcFontH4;
        font-weight: 500;
    }
    span{
        font-size: $pcFontH5;
        color: $inputHintColor;
        font-weight: 500;
    }

    >article, >main{
        width: 74%;
    }
    div{
        display: flex;
    }
    main{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }
    hgroup{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #3f3f3f;
        // background-image: linear-gradient(to right, rgba(245, 239, 235, 0) 100%);
        img{
            width: 40px;
        }
    }
    .mixedFont>p{
        display: inline-block;
    }
    .important{
        color: $secColorblue;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        margin: 0; 
    }
    input[type=number] {
        -moz-appearance:textfield;
    }
    input, .countBTN>button{
        height: 35px;
        border: 2px solid $mainTextColor;
        vertical-align: bottom;
        background-color: $bgColorWhite;
    }
    input{
        padding-inline: 8px;
    }
}
.tickStep{
    width: 100%;
    margin: 44px auto 20px;
    img{
        height: 35px;
        margin: 0 auto;
    }
};
.tickBtn{
    width: 100%;
    justify-content: end;
    button{ margin: 44px 0; }
    .tickLBtn{ margin-right: 0;}
}
.price{
    gap: 20px;
    margin-top: 20px;
    justify-content: end;
    align-items: flex-end;
    text-align: right;


    span{ color: $mainTextColor; }
    :nth-child(2){
        width: 180px;
    }
    .mixedFont>*{
        display: inline-block;
        font-weight: 700;
    }
}
.firstLine{
    border-top: 2px solid #3f3f3f;
    padding-top: 20px;
    margin-top: 44px;
}

// part0 購票須知(TickInfo.vue)
.tickInfo{
    width: 70%;
    margin-right: 44px;

    article{
        margin: 44px auto auto;
        position: relative;
        z-index: 2;
        width: 60%;
    }
    h2{
        color: $primaryColorYellow;
        text-align: center;
        margin: 44px auto;
    }
    ol{
        list-style-type: decimal;
    }
    li{ color: $bgColorWhite; }
    ul{ list-style-type: disc; }
}
.tickBgc{
    position: absolute;
    top: 0;
    right: 50%;
    translate: 20% 145px;
    .tickBoard{
        width: 92%;
        min-height: 480px;
    }
    .tickEagle{
        // position: absolute;
        z-index: 3;
        width: 8vw;
        margin: auto -8vw 0 0;
        // top: 0;
        // translate: 0 783px;
    }
}

// part1 日曆(TickCalendar.vue)
.tickCalendar{
    width: 40%;

    .fakeCalendar{
        width: 100%;
    }
}
@media screen and (max-width: 1835px){
    .tickBgc{
        translate: 22.5% 145px;
    }
}
@media screen and (max-width: 1550px){
    .tickCalendar{
        width: 50%;
    }    
    .tickInfo{
        width: 80%;

        article{
            width: 68%;
        }
        h2{
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width: 1200px){
    .tickCalendar{
        width: 45%;
    }    
    .tickInfo{
        width: 550px;

        article{
            width: 90%;
            // margin-left: 10%;
            margin-top: 20px;
        }
        .tickBoard{
            width: 100%;
        }
        .tickBgc{
            translate: 15% 145px;
        }
    }
}

// part2 選擇數量
.tickNum{
    width: 100%;
    >div{
        gap: 20px;
    }
}

.countBTN{
    justify-content: center;
    input{
        width: 60px;
        text-align: right;
    }
    button{
        // position: relative;
        width: 44px;
        text-align: center;
        cursor: pointer;
        color: $mainTextColor;
        font-size: $pcFontH5;
        font-family: $decorateFont;
        font-weight: 500;
        &:hover {
            background-color: $primaryColorYellow;
        }
    }
}
.tickOption.PC{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 100%; /* 父層的最大寬度為100% */
    max-height: 80vh; /* 父層的最大高度為100視窗高度 */
    img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}



// part3 付款頁
.tickPayway, .tickFinished{
    margin-top: 44px;
    width: 100%;
    >main:not(.tickBtn){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 44px;
    }
    select{
        width: 280px;
    }
}
// part3-1 確認訂單資訊
.checkOrder{
    >*{ align-items: flex-end; }
        >h2{
        margin-bottom: 44px;
    }
    hgroup{
        h2{
            color: $mainTextColor;
            p{
                font-weight: 700;
            }
        }
        >:last-child{
            font-weight: 700;
        }
    }
    .choosed{
        gap: 44px;
        margin-top: 44px;
        div{
            align-items: flex-end;
            gap: 20px;
        }
        p{
            font-weight: 700;
        }
        h2, h2>span{
            color: $mainTextColor
        }
        span{
            font-weight: 500;
        }
    }
}
// part3-2 優惠券&付款方式
.pay{
    hgroup{
        margin-top: 44px;
    }
    article>*{
        margin-top: 20px;
        width: 100%;

        input{
            width: 100%;
        }
    }
    main{
        gap: 20px;
    }
}

// part4 購票完成
.tickFinished{
    margin-bottom: 44px;
    >section{
        text-align: center;
        margin-bottom: 44px;

        p{
            color: $inputHintColor;
            margin: 20px auto;
        }
    }
}