@mixin tickBorder($way){
    border-#{$way}: 2px dashed $mainTextColor;
    padding-#{$way}: 1vw;
    margin-#{$way}: 1vw;
}

.tick{
    background-color: #F5EFEB;
    color: $mainTextColor;
    padding-top: 3vw;
    line-height: 1.5;
    text-align: justify;

    img{ vertical-align: bottom; }
    h2{ color: $primaryColorGreen; }
    span{ color: $inputHintColor; }

    >article, >main{ width: 74%; }
    div{ display: flex;}
    main{ margin: 0 auto; }
    main, hgroup{
        display: flex;
        justify-content: space-between;
    }
    hgroup{
        @include tickBorder(bottom);
        width: 100%;
        // background-image: linear-gradient(to right, rgba(245, 239, 235, 0) 100%);
        img{
            min-width: 30px;
            width: 1.5vw;
        }
    }
    .mixedFont{
        color: $mainTextColor;
        >*{ display: inline-block; }
    }
    .important{
        >*{font-weight: 700; }
        >:nth-child(2){ color: $secColorblue; }
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        margin: 0; 
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
    input, .countBTN>button, select, option{
        height: 35px;
        border: 2px solid $mainTextColor;
        vertical-align: bottom;
        background-color: $bgColorWhite;
        border-radius: 0;
    }
    input, select{
        padding-inline: 8px;
    }
    select{
        width: 280px;
    }
    .price{
        justify-content: end;
        align-items: flex-end;
        text-align: right;
    
        >*>*{ display: inline-block; }
        span{ color: $mainTextColor; }
        :nth-child(2){ width: 180px;}
    }
    .firstLine{
        @include tickBorder(top);
    }
}

.tickStep{
    width: 100%;
    margin: 3vw auto 1vw;
    img{
        height: 35px;
        margin: 0 auto;
    }
};
.tickBtn{
    width: 100%;
    button{
        margin: 1vw 0;
        z-index: 999;
    }
    .tickLBtn{ margin-right: 0;}
}


// part0-1 購票須知(TickInfo.vue)
.tickInfo{
    position: relative;

    article{
        margin: 1vw 5vw auto;
        position: relative;
        z-index: 2;
        width: 550px;
    }
    h2{
        color: $primaryColorYellow;
        text-align: center;
        margin: 1.5vw auto 1vw;
    }
    ol{ list-style-type: decimal; }
    li{ color: $bgColorWhite; }
    ul{ list-style-type: disc; }
}
.tickBgc{
    bottom: 0;
    position: absolute;
    transform: translate(-10%, 0);
    
    .tickBoard{
        height: 540px;
        width: auto;
    }
    .tickEagle{
        z-index: 3;
        width: 7vw;
        margin: auto -4vw 0 0;
    }
}

// part0-2 日曆(TickCalendar.vue)
.tickCalendar{
    width: 40%;
    div{
        display: block;
    }
    .fakeCalendar{
        width: 100%;
    }
    .tickBtn{
        justify-content: end;
    }
    hgroup{
        border: 0;
        padding-bottom: 0;
        margin-bottom: 1vw;
    }
}
.calendar{
    height: 405px;
    overflow: hidden;
    text-align: center;
    background-size: cover;
    color: #3f3f3f;

    table{
        background-color: $bgColorWhite;
        font-size: $pcFontH3;
    }
    .ivu-calendar-header{
        padding: 0;
    }
    // 區間按鈕
    .ivu-calendar-header-action{
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $mainTextColor;
        font-family: $font;
    }
    .ivu-btn, .ivu-ml>.ivu-radio-wrapper{
        border-radius: 0;
        border: $bgColorSecGray solid 1px;
        width: 44px;
        height: 35px;
    }
    .ivu-btn:nth-of-type(2){
        width: 60px;
        padding: 0;
    }
    .ivu-btn>span, .ivu-radio-group-button .ivu-radio-wrapper{
        font-size: $pcFontH4;
        color: $mainTextColor;
    }
    // 當前月份
    .ivu-calendar-header-title{
        font-size: $pcFontH3;
        padding-top: 9px;
        height: 44px;
        font-weight: 700;
        background-color: $primaryColorYellow;
    }
    .ivu-calendar-table thead th, td{
        padding: 8px;
        height: 40px;
        width: 4vw;
        text-align: center;
        color: $mainTextColor;
    }
    td{
        border: $bgColorSecGray solid 1px;
    }
    .ivu-calendar-table-day{
        padding: 0;
    }
    .ivu-calendar-table-day-other{
        color: $inputHintColor;
    }
    // 休園標籤
    .ivu-badge-count{
        background-color: #ff6100;
    }
}
@media screen and (max-width: 1800px){
    .tickBgc{
        transform: translate(-9%, 0);
        .tickBoard{ height: 530px; }
    }
}
@media screen and (max-width: 1610px){
    .tickBgc{
        transform: translate(-11%, 0);
        .tickBoard{ height: 520px; }
    }
    .tickInfo{
        article{ margin: 20px 4vw auto; }
    }
}
@media screen and (max-width: 1540px){
    .tickBgc{
        transform: translate(-11%, 0);
        .tickBoard{ height: 525px; }
    }
    .tickInfo{
        article{
            margin: 20px 3vw auto;
            width: 530px;
        }
    }
}
@media screen and (max-width: 1400px){
    .tickBgc{
        .tickBoard{ height: 515px; }
        .tickEagle{ width: 8vw;}
    }
    .tickInfo{
        article{
            width: 440px;
            margin: 20px 4.2vw auto;
        }
    }
}



// part1 選擇數量
.tickNum{
    width: 100%;
    >div{ gap: 1vw; }
    >.tickOption.PC{ gap: 4vw; }
    .countBTN{
        display: flex;
        justify-content: center;
        input{
            width: 55px;
            text-align: right;
        }
        button{
            width: 44px;
            cursor: pointer;
            color: $mainTextColor;
            &:hover {
                background-color: $primaryColorYellow;
            }
        }
    }
}
.tickOption.PC{
    max-width: 100%;
    text-align: center;
    img{
        width: auto;
        height: 20vw;
        margin-bottom: 1vw;
        display: inline-block;
    }
}

// part2 付款頁 & part3 購票完成
.tickCheck, .tickFinished{
    width: 60%;
    margin: 0 auto;
    *{ align-items: center; }
    >h2{ margin: 1.5vw auto; }
    .price{ margin-top: 0.5vw; }
    >hgroup:first-of-type{ font-weight: 700; }
    div:not(.price){ gap: 2vw; }
    .choosed{
        @include tickBorder(bottom);
        h2, h2>span{ color: $mainTextColor; }
    }
    .coupon{
        margin-bottom: 0;
        border-bottom: 0;
    }
    .price:nth-of-type(3){
        @include tickBorder(bottom);
    }
    .payWay hgroup{
        margin-bottom: 0;
        border-bottom: 0;
    }
}
.tickCheck{
    .coupon{ margin-top: 2vw; }
    input{ width: 100%; }
    .defaultBtn{ margin: 4vw 0;}
    .payWay{
        margin-top: 2vw;
        >main:first-of-type{ margin-top: 2vw; }
        >main>p{ width: 120px; }
        main{
            margin-top: 0.5vw;
            align-items: center;
            gap: 2vw;
            main{
                width: 100%;
                margin: 0;
            }
        }
    }
}
.tickFinished{
    margin-bottom: 2vw;
    section{
        text-align: center;
        margin-bottom: 2vw;
        p{
            color: $inputHintColor;
            margin: 1vw auto;
        }
    }
    hgroup>:first-of-type{ font-weight: 700; }
}

@media screen and (max-width:768){
    .tick{
        >article, >main{ width: 90%; }
        main{
            display: block;
        }
    }
    .tickInfo{
        background-color: rgba(63, 63, 63, 70%);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        article{
            width: 100%;
            margin: auto;
            background-image: url("../../images/ticket/PHinfoL.svg");
        }
    }
}