/* PC-上個月投票結果 */
.vote_top {
  position: relative;
  color: $mainTextColor;
  width: 100%;
  height: auto;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: $bgColorLightgray;
  overflow: hidden;

  .banner {
    width: 100%;
    height: 100vh;
    // background-image: url("/src/assets/images/vote/tree.svg");

    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: bottom center;

    .title {
      color: $primaryColorGreen;
      text-align: center;
      line-height: 1.5;
      padding: 1% 0;
    }

    .sheep {
      position: absolute;
      bottom: 0px;
      left: 20%;
      transform: scaleX(-1);
      width: 8vw;
      z-index: 10;
    }

    .cloud_6_top {
      animation: cloudMoves 10s linear infinite;
      position: absolute;
      top: 15%;
      right: 6%;
      width: 14vw;
    }
    @keyframes cloudMoves {
      0%,
      100% {
        transform: translateX(0);
        //雲的初始位置和結束位置
      }

      25% {
        transform: translate(-5vw, 20px);
        //雲的中間位置
      }
      50% {
        transform: translate(-10vw, 10px);
        //雲的中間位置
      }
      75% {
        transform: translate(-5vw, 0);
        //雲的中間位置
      }
    }
    .cloud_1_top {
      animation: cloudMoves2 15s linear infinite;
      position: absolute;
      top: 15%;
      left: 6%;
      width: 14vw;
    }
    @keyframes cloudMoves2 {
      0%,
      100% {
        transform: translate(5vw, 0);
        //雲的初始位置和結束位置
      }

      25% {
        transform: translate(10vw, -20px);
        //雲的中間位置
      }
      50% {
        transform: translate(15vw, -10px);
        //雲的中間位置
      }
      75% {
        transform: translate(10vw, 0);
        //雲的中間位置
      }
    }

    .balloon {
      animation: balloonMove 60s linear infinite;
      position: absolute;
      width: 8vw;
      top: 10%;
      left: 5%;
      z-index: 10;
    }

    @keyframes balloonMove {
      0% {
        transform: translate(2vw, 0px);
      }
      5% {
        transform: translate(4vw, -20px);
      }
      10% {
        transform: translate(6vw, 0px);
      }

      15% {
        transform: translate(8vw, -20px);
      }
      20% {
        transform: translate(10vw, 0px);
      }

      25% {
        transform: translate(12vw, -20px);
      }

      30% {
        transform: translate(14vw, 0px);
      }

      35% {
        transform: translate(16vw, -20px);
      }
      40% {
        transform: translate(18vw, 0px);
      }

      45% {
        transform: translate(20vw, -20px);
      }

      50% {
        transform: translate(18vw, 0px);
      }

      55% {
        transform: translate(16vw, -20px);
        //
      }
      60% {
        transform: translate(14vw, 0px);
      }

      65% {
        transform: translate(12vw, -20px);
      }
      70% {
        transform: translate(10vw, 0px);
      }

      75% {
        transform: translate(8vw, -20px);
      }

      80% {
        transform: translate(6vw, 0px);
      }

      85% {
        transform: translate(4vw, -20px);
      }
      90% {
        transform: translate(2vw, 0px);
      }

      100% {
        transform: translate(0vw, -20px); /* 回到起始位置 */
      }
    }

    .tree_bg {
      position: absolute;
      bottom: 0px;
      left: 0;
      display: block; /* 確保圖片顯示為塊級元素 */
      width: 100%; /* 讓圖片填滿父級容器的寬度 */
      height: auto; /* 讓高度自動調整以保持圖片比例 */
      max-width: 100%; /* 避免圖片超出其原始大小 */
      z-index: 10;
    }

    .podium_no {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .vote_img {
        width: 9vw;
        height: auto;
        border: $primaryColorYellow solid 0.3em;
        
      }

      .NO {
        width: 3vw;
        height: auto;
        position: absolute;
        top: -1.5vw;
      }

      .score {
        position: absolute;
        top: 21vw;
        z-index: 10;
      }

      .podium1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 40%;
        position: absolute;
        bottom: 0;

        .vote_name {
          margin: 6% 0 15% 0;
        }

        .podium_box {
          display: flex;
          justify-content: center;
          position: relative;
          width: 20vw;
          height: auto;
          background: rgb(254, 208, 1);
          background: linear-gradient(
            180deg,
            rgba(254, 208, 1, 1) 0%,
            rgba(254, 208, 1, 0.38716736694677867) 41%,
            rgba(254, 208, 1, 0) 85%
          );
          //新增 border 相關屬性
          border-left: 4px solid transparent;
          //透明的左邊框
          border-right: 4px solid transparent;
          //透明的右邊框
          border-image: linear-gradient(
            to bottom,
            $bgColorLightgray 60%,
            rgba(255, 255, 255, 0) 85%
          );

          border-image-slice: 1;

          z-index: 3;
          animation: increaseHeight1 5s forwards;
        }
        @keyframes increaseHeight1 {
          from {
            height: 0;
          }
          to {
            height: 50vh;
          }
        }
      }

      .podium2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 23%;
        position: absolute;
        bottom: 0;

        .vote_name {
          margin: 6% 0 15% 0;
        }

        .podium_box {
          display: flex;
          justify-content: center;
          position: relative;
          width: 20vw;
          height: auto;
          background: rgb(254, 208, 1);
          background: linear-gradient(
            180deg,
            rgba(254, 208, 1, 1) 0%,
            rgba(254, 208, 1, 0.38716736694677867) 41%,
            rgba(254, 208, 1, 0) 85%
          );
          z-index: 2;
          animation: increaseHeight2 5s forwards; /* 播放增加高度的動畫，持續時間為2秒 */
        }
        @keyframes increaseHeight2 {
          from {
            height: 0;
          }
          to {
            height: 35vh;
          }
        }
      }

      .podium3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 57%;
        position: absolute;
        bottom: 0;

        .vote_name {
          margin: 6% 0 15% 0;
          left: 55%;
        }

        .podium_box {
          display: flex;
          justify-content: center;
          position: relative;
          width: 20vw;
          height: auto;
          background: rgb(254, 208, 1);
          background: linear-gradient(
            180deg,
            rgba(254, 208, 1, 1) 0%,
            rgba(254, 208, 1, 0.38716736694677867) 41%,
            rgba(254, 208, 1, 0) 85%
          );
          z-index: 1;
          animation: increaseHeight3 5s forwards;
        }
        @keyframes increaseHeight3 {
          from {
            height: 0;
          }
          to {
            height: 30vh;
          }
        }
      }
    }
  }
}

/* PH-上個月投票結果 */
@media screen and (width < 480px) {
  .vote_top {
    height: 90vh;

    .banner {
      // width: 100%;
      // height: auto;
      // background-image: url("/src/assets/images/vote/pc-tree.svg");
      // z-index: 5;
      .title {
        padding: 15% 0;
      }
      .sheep {
        left: 20%;

        width: 19vw;
      }
      .balloon {
        width: 12vw;
        top: 25%;
        left: 5%;
      }
      .tree_bg {
        content: url("@/assets/images/vote/pc-tree.svg");
      }
      .cloud_1_top {
        animation: cloudMoves2 15s linear infinite;
        position: absolute;
        top: 20%;
        left: 3%;
        width: 14vw;
      }
      @keyframes cloudMoves2 {
        0%,
        100% {
          transform: translateX(5vw);
          //雲的初始位置和結束位置
        }

        25% {
          transform: translate(10vw, -10px);
          //雲的中間位置
        }
        50% {
          transform: translate(15vw, -5px);
          //雲的中間位置
        }
        75% {
          transform: translate(10vw, 0);
          //雲的中間位置
        }
      }
      .podium_no {
        .vote_img {
          width: 15vw;
          height: auto;
          border: $primaryColorYellow solid 4px;
        }

        .NO {
          width: 5vw;
          height: auto;
          position: absolute;
          top: -1.5vw;
        }

        .score {
          position: absolute;
          top: 35vw;
          z-index: 10;
        }

        .podium1 {
          left: 35%;

          .podium_box {
            width: 30vw;
          }
        }

        .podium2 {
          left: 10%;

          .podium_box {
            width: 30vw;
          }
        }

        .podium3 {
          left: 60%;

          .podium_box {
            width: 30vw;
          }
        }
      }
    }
  }
}

/* PC-上個月投票結果 */
.vote_activity {
  height: auto;
  padding: 5% 0 15% 0;
  width: 100%;
  background-color: #fff;
  position: relative;
  // padding-bottom: 211px;
  color: $mainTextColor;
  background-attachment: fixed !important; 
  max-width: 1920px;
  box-sizing: border-box;
  background-color: $primaryColorGreen;
  background-image: url("/src/assets/images/vote/grid.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .newsFrame .newsFrameText {
    top: 0;
    padding-top: 0.3vw;
  }

  .vote_activity_wrap {
    z-index: 3;
    width: 70%;
    margin: auto;
  }

  h1 {
    color: $primaryColorYellow;
    text-align: center;
    letter-spacing: 2px;
    padding: 1% 0 5% 0;
  }

  p {
    color: $bgColorWhite;
    text-align: left;
  }

  // .cloud_6 {
  //   animation: cloudMove 20s linear infinite;
  //   position: absolute;
  //   top: 15%;
  //   left: 6%;
  //   background-repeat: no-repeat;

  //   img {
  //     width: 8vw;
  //   }
  // }
  // @keyframes cloudMove {
  //   0%,
  //   100% {
  //     transform: translateX(0);
  //     //雲的初始位置和結束位置
  //   }

  //   50% {
  //     transform: translateX(calc(100% - 200px));
  //     //雲的中間位置
  //   }
  // }

  // .cloud_2 {
  //   animation: cloudMove2 5s linear infinite;
  //   position: absolute;
  //   top: 5%;
  //   right: 5%;
  //   background-repeat: no-repeat;

  //   img {
  //     max-width: 12vw;
  //     width: 100%;
  //   }
  // }

  // @keyframes cloudMove2 {
  //   0%,
  //   100% {
  //     transform: translateY(0);
  //     //開始和結束位置
  //   }

  //   50% {
  //     transform: translateY(-20px);
  //     //上升
  //   }
  // }

  .squirrel_2 {
    position: absolute;
    top: 8%;
    left: 8%;
    background-repeat: no-repeat;

    img {
      width: 10vw;
    }
  }
  .caterpillar img {
    position: absolute;
    width: 12vw;
    max-width: 100%;
    height: auto;
    bottom: 0;
    right: 1%;
    animation: moveLeft 50s linear infinite;
    overflow: hidden;
  }

  @keyframes moveLeft {
    0% {
      left: 90%;
    }

    100% {
      left: -100%;
    }
  }

  .conversation-vote-text {
    position: absolute;
    top: 20%;
    left: 10%;
    //文字框居中
    transform: translateX(-50%);
    //使用負的自身寬度的一半來水平居中 */
    background-color: $primaryColorYellow;
    text-align: center;
    padding: 0.4% 1.6%;
    border-radius: 5px;
    z-index: 1;
    animation: moveLeftRight 5s linear infinite;
    cursor: pointer;
  }

  .conversation-vote-text:hover {
    background-color: $bgColorWhite;
    color: $primaryColorGreen;
  }

  @keyframes moveLeftRight {
    0% {
      left: 15%;
      //初始位置
    }

    50% {
      left: 13.5%;
      //左移動到的位置
    }

    100% {
      left: 15%;
      //回到初始位置
    }
  }

  .vote_rule {
    .time_text {
      margin: 1.5% 0;
    }

    .time {
      margin: 1.5% 0;
    }
  }
}

/*TB-投票活動*/
@media screen and (width < 768px) {
  .vote_activity {
    padding-bottom: 15%;
  }
  .newsFrame .newsFrameText {
    top: 0;
    padding-top: 0.4vw;
  }
  .squirrel_2 img {
    display: none;
  }
  .conversation-vote-text {
    display: none;
  }
}

/*PH-投票活動*/
@media screen and (width < 480px) {
  .vote_activity {
    height: auto;

    padding: 10% 0 20% 0;
    .newsFrame .newsFrameText {
      top: 0;
      padding-top: 1vw;
    }

    .vote_activity_wrap {
      width: 90%;

      .vote_rule {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .cloud_6 {
      top: 3%;
      left: 10%;

      img {
        width: 20vw;
      }
    }

    .cloud_2 {
      top: 5%;
      right: 5%;
      img {
        max-width: 25vw;
      }
    }
    .squirrel_2 img {
     display: none;
    }
    .conversation-vote-text {
      display: none;
    }
  }
}

/*PC-人氣投票TOP3*/
.vote_popular {
  height: auto;
  padding: 8%;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  background-color: $primaryColorGreen;
  background-image: url("/src/assets/images/vote/grid.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: $mainTextColor;
  padding: auto;

  .title {
    padding-bottom: 4%;
    // margin-bottom: 3%;
    color: #fff;
    display: flex;
  }

  .ranking .content {
    width: 70vw;
    height: 15vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 2% 0;
    white-space: nowrap;

    .img img {
      max-width: 6.5vw;

      border-radius: 50%;
      margin: 0 20%; // 使用相對單位
      height: auto;
      margin-right: auto;
    }

    .number {
      padding: 0 1.6%;
      height: 100%;
      background-color: $primaryColorYellow;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .name {
      margin: 0 5%;
      /* 使用相對單位 */
      // margin-left: auto;
    }

    .votes {
      margin-left: auto;
      //左側 margin 設為 auto具有彈性
      margin-right: 2%;
      //使用相對單位
    }

    button {
      margin-right: 5%;
    }
  }

  .caterpillar img {
    position: absolute;
    width: 12vw;
    max-width: 100%;
    height: auto;
    bottom: 0;
    right: 1%;
    animation: moveLeft 50s linear infinite;
    overflow: hidden;
  }

  @keyframes moveLeft {
    0% {
      left: 90%;
    }

    100% {
      left: -100%;
    }
  }
}

/*TB-人氣投票TOP3*/
@media screen and (width < 768px) {
  .vote_popular {
    .ranking .content {
      width: 90vw;
      height: 10vh;

      .img img {
        max-width: 5vw;
        width: 100%;
      }
    }
  }
}

/*PH-人氣投票TOP3*/
@media screen and (width < 480px) {
  .vote_popular {
    .ranking .content {
      width: 90vw;
      height: 10vh;

      .img img {
        max-width: 14vw;
        width: 100%;
      }
    }
  }
}

/*PC-投票列表*/
.vote_overview_all {
  background-color: $bgColorLightgray;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1; /* 將背景置於內容下面 */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: $mainTextColor;
  padding-top: 10%;
  padding-bottom: 18%;
  position: relative;
  width: 100%;
  height: auto;
 
  .vote_overview_content {
    display: flex;
    flex-direction: column;
    padding: auto;
    max-width: 70%;
    width: 100%;

    .elephant1 img {
      position: absolute;
      bottom: 0;
      width: 10vw;
      right: 11%;
    }

    .vote_button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2%;

      button {
        cursor: pointer;
        width: 100%;
        height: 8vh;
        background-color: $primaryColorYellow;

        color: $mainTextColor;
      }

      button.hovered {
        background-color: $primaryColorGreen;
        color: $bgColorWhite;
      }
    }

    .vote_wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      gap: 2%;
      z-index: 50;
      .vote_card {
        // height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 13%;

        .vote_wrap_animal {
          overflow: hidden;
          position: relative;
          img {
            max-width: 16.2vw;
            height: auto;
            transform: scale(1, 1);
            transition: all 1s ease-out;
            cursor: pointer;
          }
          // img:hover {
          //   transform: scale(1.2, 1.2);
          // }
          .vote_wrap_animal_txt {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            text-align: center;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            opacity: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $bgColorWhite;
            transition: 0.5s;
            letter-spacing: 1.5px;
          }
          :hover {
            opacity: 1;
          }
        }

        .vote_name {
          margin-top: 7%;
        }

        .vote_icon {
          margin: 5% 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: $primaryColorGreen;

          img {
            min-width: 1.5vw;
            margin: 0 10px;
          }
        }
      }
    }
  }
  .vote_bottom {
    background-image: url("/src/assets/images/vote/bgbottom.svg");
    background-position: 0% -50%;
    background-repeat: repeat;
    -webkit-background-sixe: cover;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vw;
    font-family: "Montserrat", "Noto Sans TC";
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    word-spacing: nowrap;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.4);
    
  }
}

//TB-投票列表
@media screen and (width < 768px) {
  .vote_overview_all {
    .vote_overview_content {
      .vote_button {
        gap: 1%;

        button {
          height: auto;
        }
      }

      .vote_wrap {
        .vote_card {
          .vote_wrap_animal img {
            max-width: 34vw;
            height: auto;
          }
        }
      }
    }
    .vote_bottom {
      top: 97%;
      left: 50%;
      z-index: 1;
      font-size: 13vw;
    }
  }
}

/*PC-投票列表*/
@media screen and (width < 480px) {
  .vote_overview_all {
    .elephant1 img {
      z-index: 5;
    }
    .vote_overview_content {
      max-width: 90%;
      .elephant1 img {
        width: 20vw;
        right: 13%;
      }
      .vote_button {
        flex-direction: row;

        button {
          height: 9vh;
          width: 16vw;
          margin: 1% 0;
          letter-spacing: 5px;
          text-align: center;
        }
      }

      .vote_wrap {
        gap: 4%;
        .vote_card {
          .vote_wrap_animal img {
            max-width: 43vw;
            height: auto;
          }
        }
      }
    }
    .vote_bottom {
      top: 97.5%;
      left: 43%;
      z-index: 1;
      font-size: 12vw;
    }
  }
}
