/* PC-上個月投票結果 */
.vote_top {
  position: relative;
  color: $mainTextColor;
  width: 100%;
  height: auto;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: auto;

  .banner {
    background-image: url("/src/assets/images/vote/tree.svg");
    background-color: $bgColorLightgray;
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;

    .title {
      color: $primaryColorGreen;
      text-align: center;
      line-height: 1.5;
      padding: 1% 0;
    }

    .sheep {
      position: absolute;
      bottom: 0px;
      left: 20%;
      transform: scaleX(-1);
      width: 8vw;
      z-index: 10;
    }

    .podium_no {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .vote_img {
        width: 9vw;
        height: auto;
        border: $primaryColorYellow solid 0.3em;
      }

      .NO {
        width: 3vw;
        height: auto;
        position: absolute;
        top: -1.5vw;
      }

      .score {
        position: absolute;
        top: 20vw;
        z-index: 10;
      }

      .podium1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 40%;
        position: absolute;
        bottom: 0;

        .vote_name {
          margin: 6% 0 15% 0;
        }

        .podium_box {
          display: flex;
          justify-content: center;
          position: relative;
          width: 20vw;
          height: 50vh;
          background: rgb(254, 208, 1);
          background: linear-gradient(
            180deg,
            rgba(254, 208, 1, 1) 0%,
            rgba(254, 208, 1, 0.38716736694677867) 41%,
            rgba(254, 208, 1, 0) 85%
          );
          //新增 border 相關屬性
          border-left: 4px solid transparent;
          //透明的左邊框
          border-right: 4px solid transparent;
          //透明的右邊框
          border-image: linear-gradient(
            to bottom,
            $bgColorLightgray 60%,
            rgba(255, 255, 255, 0) 85%
          );

          border-image-slice: 1;

          z-index: 3;
        }
      }

      .podium2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 23%;
        position: absolute;
        bottom: 0;

        .vote_name {
          margin: 6% 0 15% 0;
        }

        .podium_box {
          display: flex;
          justify-content: center;
          position: relative;
          width: 20vw;
          height: 35vh;
          background: rgb(254, 208, 1);
          background: linear-gradient(
            180deg,
            rgba(254, 208, 1, 1) 0%,
            rgba(254, 208, 1, 0.38716736694677867) 41%,
            rgba(254, 208, 1, 0) 85%
          );
          z-index: 2;
        }
      }

      .podium3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 57%;
        position: absolute;
        bottom: 0;

        .vote_name {
          margin: 6% 0 15% 0;
          left: 55%;
        }

        .podium_box {
          display: flex;
          justify-content: center;
          position: relative;
          width: 20vw;
          height: 30vh;
          background: rgb(254, 208, 1);
          background: linear-gradient(
            180deg,
            rgba(254, 208, 1, 1) 0%,
            rgba(254, 208, 1, 0.38716736694677867) 41%,
            rgba(254, 208, 1, 0) 85%
          );
          z-index: 1;
        }
      }
    }
  }
}

/* PH-上個月投票結果 */
@media screen and (width < 480px) {
  .vote_top {
    height: 90vh;

    .banner {
      width: 100%;
      height: auto;

      .title {
        padding: 5% 0;
      }
    }

    .podium_no {
      .vote_img {
        width: 15vw;
        height: auto;
        border: $primaryColorYellow solid 4px;
      }

      .NO {
        width: 5vw;
        height: auto;
        position: absolute;
        top: -1.5vw;
      }

      .score {
        position: absolute;
        top: 40vw;
        z-index: 10;
      }

      .podium1 {
        left: 35%;

        .podium_box {
          width: 30vw;
        }
      }

      .podium2 {
        left: 10%;

        .podium_box {
          width: 30vw;
        }
      }

      .podium3 {
        left: 60%;

        .podium_box {
          width: 30vw;
        }
      }
    }
  }
}

/* PC-上個月投票結果 */
.vote_activity {
  height: auto;
  padding-bottom: 10%;
  width: 100%;
  background-color: #fff;
  position: relative;
  // padding-bottom: 211px;
  color: $mainTextColor;

  .newsFrame .newsFrameText {
    top: 0;
  }

  .vote_activity_wrap {
    z-index: 3;
    width: 70%;
    margin: auto;
  }

  h1 {
    color: $primaryColorGreen;
    text-align: center;

    padding: 5% 0 1% 0;
  }

  p {
    text-align: left;
  }

  .cloud_6 {
    animation: cloudMove 20s linear infinite;
    position: absolute;
    top: 15%;
    left: 6%;
    background-repeat: no-repeat;

    img {
      width: 8vw;
    }
  }

  .cloud_2 {
    animation: cloudMove2 5s linear infinite;
    position: absolute;
    top: 5%;
    right: 5%;
    background-repeat: no-repeat;

    img {
      max-width: 12vw;
      width: 100%;
    }
  }

  @keyframes cloudMove {
    0%,
    100% {
      transform: translateX(0);
      //雲的初始位置和結束位置
    }

    50% {
      transform: translateX(calc(100% - 200px));
      //雲的中間位置
    }
  }

  @keyframes cloudMove2 {
    0%,
    100% {
      transform: translateY(0);
      //開始和結束位置
    }

    50% {
      transform: translateY(-20px);
      //上升
    }
  }

  .squirrel_2 {
    position: absolute;
    bottom: 6%;
    left: 10%;
    background-repeat: no-repeat;

    img {
      width: 10vw;
    }
  }

  .conversation-vote-text {
    position: absolute;
    bottom: 3%;
    left: 15%;
    //文字框居中
    transform: translateX(-50%);
    //使用負的自身寬度的一半來水平居中 */
    background-color: $primaryColorYellow;
    text-align: center;
    padding: 0.4% 1.6%;
    border-radius: 5px;
    z-index: 1;
    animation: moveLeftRight 5s linear infinite;
    cursor: pointer;
  }

  .conversation-vote-text:hover {
    background-color: $primaryColorGreen;
    color: $bgColorWhite;
  }

  @keyframes moveLeftRight {
    0% {
      left: 15%;
      //初始位置
    }

    50% {
      left: 13.5%;
      //左移動到的位置
    }

    100% {
      left: 15%;
      //回到初始位置
    }
  }

  .vote_rule {
    .time_text {
      margin: 1.5% 0;
    }

    .time {
      margin: 1.5% 0;
    }
  }
}

/*TB-投票活動*/
@media screen and (width < 768px) {
  .vote_activity {
    padding-bottom: 15%;
  }
}

/*PH-投票活動*/
@media screen and (width < 480px) {
  .vote_activity {
    height: auto;

    padding-bottom: 20%;

    .vote_activity_wrap {
      width: 90%;

      .vote_rule {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

/*PC-人氣投票TOP3*/
.vote_popular {
  height: auto;
  padding: 8%;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  background-color: $primaryColorGreen;
  background-image: url("/src/assets/images/vote/grid.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: $mainTextColor;
  padding: auto;

  .title {
    padding-bottom: 4%;
    // margin-bottom: 3%;
    color: #fff;
    display: flex;
  }

  .ranking .content {
    width: 70vw;
    height: 15vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 2% 0;
    white-space: nowrap;

    .img img {
      max-width: 6.5vw;

      border-radius: 50%;
      margin: 0 20%; // 使用相對單位
      height: auto;
      margin-right: auto;
    }

    .number {
      padding: 0 1.6%;
      height: 100%;
      background-color: $primaryColorYellow;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .name {
      margin: 0 5%;
      /* 使用相對單位 */
      // margin-left: auto;
    }

    .votes {
      margin-left: auto;
      //左側 margin 設為 auto具有彈性
      margin-right: 2%;
      //使用相對單位
    }

    button {
      margin-right: 5%;
    }
  }

  .caterpillar img {
    position: absolute;
    width: 12vw;
    max-width: 100%;
    height: auto;
    bottom: 0;
    right: 1%;
    animation: moveLeft 50s linear infinite;
    overflow: hidden;
  }

  @keyframes moveLeft {
    0% {
      left: 90%;
    }

    100% {
      left: -100%;
    }
  }
}

/*TB-人氣投票TOP3*/
@media screen and (width < 768px) {
  .vote_popular {
    .ranking .content {
      width: 90vw;
      height: 10vh;

      .img img {
        max-width: 5vw;
        width: 100%;
      }
    }
  }
}

/*PH-人氣投票TOP3*/
@media screen and (width < 480px) {
  .vote_popular {
    .ranking .content {
      width: 90vw;
      height: 10vh;

      .img img {
        max-width: 8vw;
        width: 100%;
      }
    }
  }
}

/*PC-投票列表*/
.vote_overview_all {
  background-color: $bgColorLightgray;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: $mainTextColor;
  padding-top: 10%;
  padding-bottom: 11%;
  position: relative;
  width: 100%;
  height: auto;

  .vote_overview_content {
    display: flex;
    flex-direction: column;
    padding: auto;
    max-width: 70%;
    width: 100%;

    .elephant1 img {
      position: absolute;
      bottom: 0;
      width: 10vw;
      right: 16%;
    }

    .vote_button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2%;

      button {
        cursor: pointer;
        width: 100%;
        height: 8vh;
        background-color: $primaryColorYellow;

        color: $mainTextColor;
      }

      button.hovered {
        background-color: $primaryColorGreen;
        color: $bgColorWhite;
      }
    }

    .vote_wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      gap: 2%;
      z-index: 50;
      .vote_card {
        // height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 13%;

        .vote_wrap_animal img {
          max-width: 16.2vw;
          height: auto;
        }

        .vote_name {
          margin-top: 7%;
        }

        .vote_icon {
          margin: 5% 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: $primaryColorGreen;

          img {
            min-width: 1.5vw;
            margin: 0 10px;
          }
        }
      }
    }
  }
}

//TB-投票列表
@media screen and (width < 768px) {
  .vote_overview_all {
    .vote_overview_content {
      .vote_button {
        gap: 1%;

        button {
          height: auto;
        }
      }

      .vote_wrap {
        .vote_card {
          .vote_wrap_animal img {
            max-width: 34vw;
            height: auto;
          }
        }
      }
    }
  }
}

/*PC-投票列表*/
@media screen and (width < 480px) {
  .vote_overview_all {
    .vote_overview_content {
      max-width: 70%;

      .vote_button {
        flex-direction: column;

        button {
          height: 8vh;
          margin: 1% 0;
        }
      }

      .vote_wrap {
        justify-content: center;

        .vote_card {
          .vote_wrap_animal img {
            border: 0;
            width: 100%;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
