//上個月投票結果
.vote_top {
  position: relative;
  color: $mainTextColor;
  .podium_img img {
    width: 170px;
    height: 170px;
  }
  .podium_no {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;

    img {
      width: 170px;
      height: 170px;
    }
  }
  .podium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .podium_box {
      width: 365px;
      height: 310px;
      // background-color: $primaryColorYellow;
      text-align: center;
    }
  }

  .banner {
    background-image: url("/src/assets/images/vote/tree.svg");
    background-color: #f5efeb;

    width: 100vw;
    height: 95vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;

    .title {
      color: $primaryColorGreen;
      text-align: center;
      line-height: 1.5;
      padding-top: 3%;
    }

    .sheep {
      position: absolute;
      bottom: 0px;
      left: 20%;
      transform: scaleX(-1);
      width: 8vw;
    }
  }
}

//投票活動
.vote_activity {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  position: relative;
  padding-bottom: 211px;
  color: $mainTextColor;

  h1 {
    color: $primaryColorGreen;
    text-align: center;
    line-height: 1.5;
    padding-top: 5%;
  }
  p {
    margin: 2% 14%;
    text-align: left;
    line-height: 1.5;
  }
  .cloud_6 {
    position: absolute;
    top: 20%;
    left: 8%;
    background-repeat: no-repeat;
    img {
      width: 8vw;
    }
  }
  .cloud_2 {
    position: absolute;
    top: 2%;
    right: 5%;
    background-repeat: no-repeat;
    img {
      width: 12vw;
    }
  }
  .squirrel_2 {
    position: absolute;
    bottom: 0;
    left: 5%;
    background-repeat: no-repeat;
    img {
      width: 10vw;
    }
  }
  .vote_rule {
    display: flex;
    flex-direction: row;
    padding: 1% 0;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 1.5;
    margin: 0 14%;

    .time {
      white-space: nowrap;

      padding-right: 3%;
    }
    p {
      text-align: left;
      margin: 0;
    }
  }
}

//人氣投票TOP3
.vote_popular {
  height: 80vh;
  width: 100%;
  background-color: $primaryColorGreen;
  background-image: url("/src/assets/images/vote/grid.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  position: relative;
  color: $mainTextColor;
  padding-top: 4%;

  .title {
    margin-bottom: 2%;
    color: #fff;
    display: flex;
  }
  .content img {
    width: 7%;
    border-radius: 50%;
    margin: 1%;
  }
  .caterpillar img {
    position: absolute;
    width: 13vw;
    bottom: 0;
    right: 0;
  }
  .ranking .content {
    width: 75vw;
    height: 15vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 0.7% 0;
    white-space: nowrap;
    .number {
      padding: 0 1.6%;
      height: 100%;
      background-color: $primaryColorYellow;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .name {
      margin: 3%;
    }
    .votes {
      margin-left: 42%;
      margin-right: 7%;
    }
  }
}

//投票列表
.vote_overview_all {
  background-color: $bgColorLightgray;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: $mainTextColor;
  padding-top: 10%;
  padding-bottom: 11%;
  position: relative;
  .elephant1 img {
    position: absolute;
    bottom: 0;
    width: 10vw;
    right: 16%;
  }
  .vote_button {
    max-width: 71.4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 100%;
      height: 8vh;
      background-color: $primaryColorYellow;
      margin: 0 1%;

      color: $mainTextColor;
    }
    button.hovered {
      background-color: $primaryColorGreen;
      color: $bgColorWhite;
    }
  }
  .vote_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70%;
    width: 100%;
    justify-content: flex-start;
    gap: 2%;
    align-items: center;
    .vote_card {
      // height: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 13%;

      .vote_name {
        margin-top: 7%;
      }
      img {
        width: 16.2vw;
      }
      .vote_icon {
        margin: 5% 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $primaryColorGreen;
        img {
          width: 1.5vw;
          margin: 0 10px;
        }
      }
    }
  }
}
